.section-automatic {
  padding: 44px 0 54px;

  .section-automatic__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(47, 55, 161);
    margin: 0 0 55px;
  }

  .automatic-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 0;
    background-position:  50% 0;
    background-size: 84px auto;
    background-repeat: no-repeat;
    color: rgb(116, 116, 116);
    letter-spacing: 0.4px;
    line-height: 24px;
    min-height: 130px;
    text-align: center;

    &:not(:first-child) {
      margin-top: 44px;
    }

    &.automatic-list__item--self {
      background-image: url(../images/automatic-self.png);
    }

    &.automatic-list__item--time {
      background-image: url(../images/automatic-time.png);
    }

    &.automatic-list__item--payment {
      background-image: url(../images/automatic-payment.png);
    }

  }

  .automatic-list__title {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.375;
    font-weight: 600;
    color: $body-color;
    letter-spacing: 1.1px;
  }

  @include media-breakpoint-up(md) {
    padding: 64px 0 107px;

    .automatic-list__item {
      padding: 0 0 0 154px;
      background-position: 0 50%;
      background-size: auto;
      text-align: left;
    }
  }
}


.js {
  .section-automatic {
    .automatic-list,
    .animate-img,
    .section-automatic__title {
      @include animate-defaut();
      transform: translate3d(0, 100px, 0);
    }

    .section-automatic__title {
      @include animate-step-1();
    }

    .animate-img {
      @include animate-step-2();
    }

    .automatic-list {
      @include animate-step-3();
    }

    &.show-content {
      .automatic-list,
      .animate-img,
      .section-automatic__title {
        @include animate-reset();
      }
    }
  }
}