.btn {
  cursor: pointer;
  box-shadow: none;
}

.btn-outline-white {
  @include button-outline-variant(#fff, rgb(47, 55, 161));
}

.btn.disabled,
.btn:disabled {
  background: #dcdedf !important;
  color: #b7babd !important;
  border-color: #dcdedf !important;
  opacity: 1 !important;
}