.animate-img {
  display: inline-block;
  position: relative;

  &.animate-img--automatic {
    margin-top: 24.8px;
    width: 485px;
    max-width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 18.02%;
      left: 5.56%;
      width: 88.86%;
      height: 0;
      padding-bottom: 88.86%;
      background: rgba(49, 58, 156, 0.12);
      border-radius: 1000px;
      z-index: -1;
      animation: waves 1.5s linear;
      animation-iteration-count: infinite;
    }

    &:after {
      content: '';
      display: block;
      height: 0;
      padding-top: 111.13%;
      background: url(../images/automatic.png) 50% 0 no-repeat;
      background-size: contain;
    }
  }

  &.animate-img--tech-device {
    width: 638px;
    max-width: 50%;

    &:after {
      content: '';
      position: absolute;
      top: 23.4%;
      left: 23.4%;
      width: 53.6%;
      height: 0;
      padding-bottom: 53.6%;
      background: rgba(49, 58, 156, 0.12);
      border-radius: 1000px;
      z-index: -1;
      animation: pulse 1.5s linear;
      animation-iteration-count: infinite;
    }

    &:before {
      content: '';
      display: block;
      height: 0;
      padding-top: 100%;
      background: url(../images/tech-device.png) 50% 0 no-repeat;
      background-size: contain;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 34px;
      margin-left: 4px;
      max-width: none;
    }
  }

  &.animate-img--tech-client {
    flex: 1 0 50%;

    &:after {
      content: '';
      position: absolute;
      top: 23.4%;
      left: 23.4%;
      width: 53.6%;
      height: 0;
      padding-bottom: 53.6%;
      background: rgba(49, 58, 156, 0.12);
      border-radius: 1000px;
      z-index: -1;
      animation: pulse 1.5s linear;
      animation-iteration-count: infinite;
    }

    &:before {
      content: '';
      display: block;
      height: 0;
      padding-top: 100%;
      background: url(../images/tech-client.png) 50% 0 no-repeat;
      background-size: contain;
    }

    @include media-breakpoint-up(xl) {
      flex: 1 0 638px;
    }
  }

  .animate-img__icon {
    position: absolute;
    background-color: #fff;
    border: 6px solid #eaeaf2;
    box-shadow: 0 4px 5px rgba(47, 55, 161, 0.26);
    border-radius: 1000px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 15.67%;
    height: 15.67%;

    &.animate-img__icon--settings {
      top: 7.83%;
      left: 21.31%;
      width: 11.91%;
      height: 11.91%;
      background-image: url(../images/tech-icon-settings.svg);
      background-size: auto 55.26%;
    }

    &.animate-img__icon--car {
      right: 7.36%;
      top: 13.93%;
      background-image: url(../images/tech-icon-car.svg);
      background-size: auto 64%;

    }

    &.animate-img__icon--time {
      bottom: 9.4%;
      left: 18.18%;
      background-image: url(../images/tech-icon-time.svg);
      background-size: auto 58%;
    }

    &.animate-img__icon--bot {
      bottom: 16.77%;
      right: 11.44%;
      width: 12.53%;
      height: 12.53%;
      background-image: url(../images/tech-icon-bot.svg);
      background-size: auto 58.75%;
    }

    &.animate-img__icon--chat {
      top: 20.21%;
      left: 13.47%;
      width: 14.10%;
      height: 14.10%;
      background-image: url(../images/tech-icon-chat.svg);
      background-size: auto 52.22%;
    }

  }
}

@keyframes "pulse" {
 0% {
    box-shadow: 0 0 0 0 rgba(51, 51, 153, 0.08);
 }
 100% {
    box-shadow: 0 0 0 54px rgba(51, 51, 153, 0);
 }
}

@-webkit-keyframes waves {
  0% {
    box-shadow: 0 0 0 0 rgba(51, 51, 153, 0.08);
  }

  100% {
    box-shadow: 0 0 0 54px rgba(51, 51, 153, 0);
  }
}