.section-contacts {
  padding: 61px 0 101px;
  background: rgba(47, 55, 161, 0.85);

  .section-contacts__title {
    text-align: center;
    margin: 0 auto 64px;
    color: #fff;
    font-family: 'intro', $font-family-sans-serif;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.8px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;

    .section-contacts__title-text {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      text-align: left;
    }

    .section-contacts__title-subtext {
      display: block;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-indent: 0.2em;
    }

    .icon-logo {
      width: 46px;
      height: 46px;
    }
  }
}

.block-contacts {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 6px 14px 41px rgba(0, 0, 0, 0.36);
  border-radius: 8px;

  .block-contacts__map {
    max-width: 100%;
    width: 378px;
    min-height: 494px;
    background: url(../images/map.png) 0 0 no-repeat;
    border-radius: 8px 8px 0 0;
  }

  .block-contacts__form {
    width: 100%;
    padding: 27px 45px 27px;
  }

  .contacts-form__title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 14px;
    line-height: 1.375;

    .small {
      margin-top: 2px;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }
}

.contact-map-info {
  position: relative;
  padding: 10px 14px;
  background: #eceefa;
  margin: 142px 0 0 35px;
  box-shadow: 0 2px 8px rgba(47, 55, 161, 0.41);
  width: 210px;
  border-radius: 8px 8px 0 8px;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    border: 7px solid;
    border-color: rgb(236, 238, 250) rgb(236, 238, 250) transparent transparent;
  }

  .contact-map-info__title {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 6px;
    letter-spacing: 0.4px;
    line-height: 1.375;
    color: $brand-danger;
    font-weight: 600;
  }

  .contact-map-info__item {

  }
}

.contact-map-info__list {
  .contact-map-info__list-item {
    position: relative;
    padding-left: 15px;
    font-size: 10px;
    line-height: 1.375;
    letter-spacing: 0.3px;

    > a {
      color: inherit;
    }

    &:not(:first-child) {
      margin-top: 6px;
    }
  }

  .info-icon {
    position: absolute;
    top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    &.info-icon--placemark {
      background-image: url(../images/icon-placemark.png);
    }

    &.info-icon--phone {
      background-image: url(../images/icon-phone.png);
    }

    &.info-icon--email {
      background-image: url(../images/icon-email.png);
    }
  }
}

@include media-breakpoint-up(md) {
  .block-contacts {
    flex-direction: row;
    align-items: stretch;

    .block-contacts__form,
    .block-contacts__map {
      width: 50%;
    }
  }

  .section-contacts {
    .section-contacts__title {
      font-size: 41px;

      .section-contacts__title-subtext {
        font-size: 22px;
      }
      .icon-logo {
        width: 76px;
        height: 76px;
      }
    }
  }
}

.js {
  .section-contacts {
    .section-contacts__title,
    .contact-map-info,
    .block-contacts__form {
      @include animate-defaut();
    }

    .section-contacts__title {
      @include animate-step-1();
      transform: translate3d(0, 100px, 0);
    }

    .contact-map-info {
      @include animate-step-2();
      transform: translate3d(-100px, 0, 0);
    }
    .block-contacts__form {
      @include animate-step-3();
      transform: translate3d(100px, 0, 0);
    }

    &.show-content {
      .section-contacts__title,
      .contact-map-info,
      .block-contacts__form {
        @include animate-reset();
      }
    }
  }
}