.section-end {
  padding: 80px 0 23px;
  background: rgb(47, 55, 161) url(../images/end-image.png) 50% 0 no-repeat;
  min-height: 280px;

  .section-end__title {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 39px;
    letter-spacing: 0.8px;
    margin: 0 auto 26px;
    max-width: 900px;
  }
}
.section-end__chat {
  display: none;

  .section-end__chat-item {
    position: relative;
    padding-left: 85px;
    min-height: 75px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 75px;
      height: 75px;
      background: url(../images/robot.png) 0 0 no-repeat;
      box-shadow: 0 2px 22px rgba(7, 12, 87, 0.6);
      border-radius: 50%;
    }
  }

  .section-end__chat-text {
    position: relative;
    display: inline-block;
    width: 210px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 11px 20px 12.7px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 22px rgba(7, 12, 87, 0.6);

    &:before {
      content: '';
      position: absolute;
      top: 99%;
      left: 11px;
      border-width: 9px 7px;
      border-color: #fff transparent transparent #fff;
      border-style: solid;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }

}

.js {
  .section-end {
    .section-end__title,
    .section-end__chat {
      @include animate-defaut();
      transform: translate3d(0, 100px, 0);
    }

    .section-end__title {
      @include animate-step-1();
    }

    .section-end__chat {
      @include animate-step-2();
    }

    &.show-content {
      .section-end__title,
      .section-end__chat {
        @include animate-reset();
      }
    }
  }
}