.page-footer {
  background: rgb(47, 55, 161);
  padding: 53px 0 12.7px;
  color: #fff;

  .page-footer__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .page-footer__logo {
    margin-top: 25px;
    color: #fff;
    font-family: 'intro', $font-family-sans-serif;
    font-size: 19px;
    letter-spacing: 0.4px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    white-space: nowrap;

    .icon-logo {
      width: 46px;
      height: 46px;
      margin-right: 6px;
    }
  }

  .page-footer__copy {
    margin-top: 34.3px;
    font-size: 10px;
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 1.4;
  }

  .footer-social__button {
    @extend .text-hide;
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin: 0 20px;
    background: no-repeat 50% 50%;
    background-size: contain;

    &.social-fb {
      background-image: url(../images/social-fb.svg);
    }

    &.social-tw {
      background-image: url(../images/social-tw.svg);
    }
  }

  @include media-breakpoint-up(md) {
    .page-footer__content {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-social__button {
      margin: 0 0 0 40px;
    }

    .page-footer__logo {
      margin-top: 0;
    }

    .footer-button {
      display: inline-block;
      margin: 0;
    }
  }
}

.footer-button {
  display: block;
  width: 170px;
  margin: 0 auto 25px;
  font-weight: 700;
  letter-spacing: 1.4px;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}

