.default-form {
  position: relative;

  .control-label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: rgba(64, 66, 86, 0.6);
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 1.5px;
  }

  .form-group {
    margin-bottom: 14px;

    .form-control-feedback {
      display: none;
    }

    &.has-danger {
      .form-control-feedback {
        display: block;
      }
    }
  }

  .default-form__submit-wrp {
    margin-top: 20px;
  }

  .default-form__message {
    display: none;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    width: 120%;
    margin: 0 -10%;
  }

  .default-form__message-icon {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    background: url(../images/sendIconBlue.png) center center no-repeat;
    background-size: contain;
  }

  .default-form__message-title {
    color: rgb(47, 55, 161);
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 24px;
    line-height: 33px;
    margin: 20px 0 10px
  }

  &.default-form--loading {

  }

  &.default-form--show-message {
    position: relative;

    > * {
      display: none;
    }

    .default-form__message {
      display: block;
    }

  }
}

.form-control {
  font-size: 14px;
  padding:0 48px 0 16px;
  height:40px;
  .has-danger & {
    background-size: 16px auto;
  }
}
.order-modal .form-group {
  margin: 0 auto 16px;
  width: 240px;
}
.order-modal .form-group input{
  height:44px;
}
.order-modal .default-form__submit-wrp{
  width:240px;
  margin:28px auto 0;
}
.order-modal .default-form__submit-wrp .btn.disabled, .btn:disabled{
  height:42px;
  font-size:14px;
  /*font-family: 'OpenSansSemiBold';*/
  color: rgb(183, 186, 189);
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
}
.order-modal .default-form__submit-wrp .btn.disabled, .btn-danger{
  height:42px;
  font-size:14px;
  /*font-family: 'OpenSansSemiBold';*/
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
}

textarea.form-control {
  resize: vertical;
  height: 110px;
}
