.page-header {
  position: relative;
  left: 0;
  right: 0;
  color: #fff;
  background: rgb(43, 57, 143);
  padding: 25px 0;

  .page-header__container {
    @extend .container;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    color: #fff;
    font-family: 'intro', $font-family-sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    white-space: nowrap;

    .icon-logo {
      margin-right: 6px;
    }
  }

  .page-header__nav {
    @extend .navbar-nav;
    align-items: center;
  }

  .page-header__nav-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.4px;
    line-height: 1.411;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    margin: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-bottom-color: #fff;
    }

    &.page-header__nav-item--order {
      padding: 10px 15px;
      border: 1px solid #fff;
      border-radius: 0.25rem;


      &:hover {
        color: #2f37a1;
      }
    }

    @include media-breakpoint-up(lg) {
      margin: 0;
      &:not(:first-child) {
        margin: 0 0 0 25px;
      }
    }

  }
}
