html,
body {
  height: 100%;
}

body {
  overflow-scrolling: touch;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#wrpapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.page-body {
  flex-grow: 1;
  // padding-top: 88px;
}