.block-login {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;

  .block-login__step-phone,
  .block-login__step-pin {
    flex: 1 0 100%;
    transition: transform 0.3s;
  }

  &.is-pin-shonw {
    .block-login__step-phone,
    .block-login__step-pin {
      transform: translate(-100%, 0);
    }
  }
}