@mixin animate-defaut() {
  opacity: 0;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.25,0.1,0.2,1);
}

@mixin animate-step-1() {
  transition-delay: 10ms;
}

@mixin animate-step-2() {
  transition-delay: 60ms;
}

@mixin animate-step-3() {
  transition-delay: 110ms;
}

@mixin animate-reset() {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}