.order-modal {
  .modal-dialog {
    max-width: 420px;
  }
  .modal-body {
    padding: 0;
    > .close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10;
    }
  }

  .order-modal__title {
    color: rgb(47, 55, 161);
    font-family: 'intro', $font-family-sans-serif;
    font-size: 25px;
    letter-spacing: 0.2px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 28px;
    line-height: 1.2;

    .order-modal__title-text {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      text-align: left;
    }

    .order-modal__title-subtext {
      display: block;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-indent: 0.2em;
    }

    .icon-logo {
      width: 50px;
      height: 50px;
      margin-right: 2px;
      background: url(../images/logo-order.svg) 50% 50% no-repeat;
      background-size: contain;
    }
  }

  .offert-link {
    color: $body-color !important;
    border-bottom-color: $body-color;
  }
}

.modal-form {
  padding: 20px 25px 31px;
  min-height: 348px;

  .form-group {
    margin-bottom: 16px;
  }

  .default-form__submit-wrp {
    margin-top: 28px;
  }

  @include media-breakpoint-up(md) {
    padding: 40px 77px 51px;
  }
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px auto;
}
.modal-one{
    max-width: 480px;
    width: 100%;
    padding: 21px 0;
    background: rgb(234,234,234);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.form-popup{
    padding: 21px 60px;
}
.modal-one .form-title{
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.2px;
    font-family: 'OpenSansSemiBold';
    margin-bottom: 2px;
    color: rgb(115, 189, 78);
}
.modal-one .form-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: rgb(93, 94, 99);
    margin-bottom: 24px;
    text-align: center;
}
.form-popup button[type="submit"]{
    width: 100%;
    height: 42px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background: rgb(82, 157, 45);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.sendon-two{
    padding: 51px 0px;
    text-align: center;
    max-width: 296px;
    margin: 0 auto;
    color: rgb(93, 94, 99);
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
}
.sendon-two .sendon-title{
    font-size: 24px;
    font-family: 'OpenSansSemiBold';
    letter-spacing: 0.6px;
    line-height: 33px;
    margin: 16px 0 4px;
}
.popup-write{
    text-align: center;
    color: rgb(93, 94, 99);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 24px;
}
.close-popup{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    opacity: 1;
    cursor: pointer;
}
.sendon{
    display: none;
}
.js-default-form.default-form.block-contacts__form.form-popup.default-form--show-message .sendon{
    display: block!important;
}
.default-form--show-message .form-title,
.default-form--show-message .form-text,
.default-form--show-message .popup-write,
.default-form--show-message .row{
    display: none;
}
.modal-one .row{
  margin-left: auto!important;
  margin-right: auto!important;
  max-width: 300px;
}

form .row label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-family: 'OpenSansSemiBold';
    line-height: 19px;
    margin-bottom: 8px;
    color: #000!important;
}
.default-form--show-message .sendon {
    display:block;
}
@media screen and (max-width: 1199px){
  
    .modal-one{
        max-width: 360px;
    }
    .form-popup {
        padding: 21px 25px;
    }
    .sendon-two {
        padding: 31px 0px 51px;
    }
}
@media screen and (max-width: 767px){
  
    .modal-one{
        max-width: 296px;
        padding: 15px 0;
    }
    .form-popup{
        padding: 15px 14px;
    }
    .modal-one .form-title{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 2px;
    }
    .modal-one .form-text{
        margin-bottom: 15px;
    }
    .popup-write{
        display: none;
    }
    .close-popup{
        top: 12px;
        right: 14px;
        width: 16px;
    }
    .close-popup img{
        width: 100%;
    }
    .sendon-two{
        margin: 0 -10px;
    }
    form .row label {
        margin-bottom: 6px;
    }
}