.section-price {
  padding: 64px 0 36px;

  .section-price__title {
    color: rgb(43, 57, 143);
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
  }

  .section-price__content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    box-shadow: 6px 14px 41px rgba(99, 117, 138, 0.23);
    max-width: 750px;
    border-radius: 8px;
  }

  .section-price__image {
    display: none;
    position: absolute;
    top: 44px;
    left: 64px;
  }
}

.price-content {
  text-align: left;

  .price-content__item {
    padding-left: 30px;
    padding-right: 30px;

    &.price-content__item--include {
      background: rgb(234, 235, 245);
      padding-top: 24px;
      padding-bottom: 18px;
    }

    &.price-content__item--not-include {
      color: rgb(100, 101, 117);
      background: #fff;
      padding-top: 10px;
      padding-bottom: 36px;

      .price-content__title {
        font-size: 16px;
        margin-bottom: 2px;
        line-height: 1.375;
      }

      .price-content__text {
        font-size: 12px;
        line-height: 1.5;
      }
    }
  }

  .price-content__title {
    font-size: 22px;
    letter-spacing: 0.4px;
    font-weight: 600;
    line-height: 1.1818;
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .price-content__text {

  }

  .price-content__cost {
    display: inline-block;
    font-size: 28px;
    color: $brand-danger;
    line-height: 24px;
    margin-left: 12px;
    font-family: 'Roboto', $font-family-sans-serif;
    margin-right: -58px;
  }

  .price-content__hint {
    color: rgb(100, 101, 117);
    margin-top: 6px;
    border-top: 2px solid rgb(232, 233, 237);
    padding-top: 4px;
    font-size: 12px;
    line-height: 1.5;
  }
}

.section-price__footer {
  font-size: 20px;
  padding-top: 48px;
  text-align: center;

  .section-price__button {
    height: initial;
    padding: 12px 24px;
    font-size: 16px;
    letter-spacing: 1.1px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 1000px;
    line-height: 26px;
    margin-top: 30px;
  }
}


@include media-breakpoint-up(sm) {
  .section-start__button {
    padding: 12px 34px;
    font-size: 19px;
    letter-spacing: 1.3px;
  }
}

@include media-breakpoint-up(md) {
  .section-price {
    .section-price__image {
      display: block;
    }
    .price-content {
      .price-content__item {
        padding-left: 348px;
        padding-right: 66px;
      }
    }
  }
}

.js {
  .section-price {
    .section-price__title,
    .section-price__content,
    .section-price__footer {
      @include animate-defaut();
      transform: translate3d(0, 100px, 0);
    }

    .section-price__title {
      @include animate-step-1();
    }

    .section-price__content {
      @include animate-step-2();
    }

    .section-price__footer {
      @include animate-step-3();
    }

    &.show-content {
      .section-price__title,
      .section-price__content,
      .section-price__footer {
        @include animate-reset();
      }
    }
  }
}