.section-promo {
  padding-top: 0;
  background: rgb(43, 57, 143);
  text-align: center;

  @include media-breakpoint-up(sm) {
    padding-top: 30px;
  }

  @include media-breakpoint-up(md) {
    padding-top: 71px;
  }

  .section-promo__title {
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    max-width: 360px;
    letter-spacing: 0.1px;
    line-height: 1.428;
    font-weight: 600;

    span {
      display: block;
      font-size: 32px;
      font-family: 'intro', $font-family-sans-serif;
      margin-top: 0.57em;
      line-height: 1.2;
      letter-spacing: 0.9px;
    }

    @include media-breakpoint-up(sm) {
      font-size: 28px;
      max-width: none;

      span {
        font-size: 45px;
      }
    }
  }

  .section-promo__image {
    max-width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      margin-top: -50px;
      visibility: hidden;
    }
  }

  .section-promo__container {
    position: relative;
    z-index: 1;
  }

  .section-promo__button {
    padding: 12px 24px;
    font-size: 16px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border-radius: 1000px;
    line-height: 1.1578;
    margin: 15px 0;

    @include media-breakpoint-up(sm) {
      padding: 17px 42px;
      font-size: 19px;
      letter-spacing: 1.3px;
      height: initial;
      margin: 30px 0 -15px;
    }

  }

  &.section-promo--countdown {
    .section-promo__title {
      margin-bottom: 0;
      span {
        margin-top: 4px;
      }
    }

    .section-promo__button {
      margin: 10px 0 0 !important;
    }

    .promo-parallax-container {
      transform: scale(0.83);
      transform-origin: top;
      margin-bottom: -55px;

      .promo-parallax {
        top: -125px;
      }
    }

    .section-promo__image {
      @include media-breakpoint-up(md) {
        margin-top: -125px;
      }
    }
  }
}

.section-promo__stock {
  color: #fff;

  .section-promo__stock-title {
    font-size: 20px;
    letter-spacing: 0.1px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  .section-promo__stock-counter {
    margin-bottom: 12px;
  }

  .section-promo__stock-text {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.357;
  }
}

.promo-stats {
  min-height: 280px;
  color: #fff;

  .promo-stats__item {
    margin-bottom: 25px;
  }

  .promo-stats__header {
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0.8px;
    font-weight: 700;
  }

  .promo-stats__count {
    font-size: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 1;
    color: $brand-danger;
  }

  .promo-stats__text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 1.375;
  }

  .promo-stats__item--invert {
    .promo-stats__header {
      color: $brand-danger;
    }

    .promo-stats__count {
      color: #fff;
      white-space: nowrap;
    }
  }

  @include media-breakpoint-down(xl) {
    width: 100%;
    .promo-stats__text {
      br {
        display: none;
      }
    }
  }

  @include media-breakpoint-between(sm, md) {
    .promo-stats__count {
      font-size: 42px;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-top: 55px;

    .promo-stats__text {
      margin-top: 24px;
      min-height: 66px;
    }

    .promo-stats__item {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    background: url(../images/promo-stat.png) 50% 0 repeat-x;

    .promo-stats__count {
      font-size: 72px;
    }

    .promo-stats__text {
      font-size: 16px;
    }
  }
}

.js {
  .promo-stats {
    .col-sm {
      @include animate-defaut();
      transform: translate3d(0, 100px, 0);
    }


    .col-sm {
      @include animate-step-2();
    }

    .col-sm:first-child {
      @include animate-step-1();
    }

    .col-sm:last-child {
      @include animate-step-3();
    }

    &.show-content {
      .col-sm {
        @include animate-reset();
      }
    }
  }
}

.promo-parallax-container {
  position: relative;
  display: inline-block;

  .promo-parallax {
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    bottom: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      display: block;
    }
    // overflow: hidden;
  }

  .promo-parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

}

#promo-parallax-sky {
  background-image: url(../images/parallax-sky.png);
}

#promo-parallax-house-1 {
  background-image: url(../images/parallax-house-1.png);
}

#promo-parallax-house-2 {
  background-image: url(../images/parallax-house-2.png);
}

#promo-parallax-trees {
  background-image: url(../images/parallax-trees.png);
}

#promo-parallax-cars {
  background-image: url(../images/parallax-cars.png);
}

#promo-parallax-moved-car {
  background-image: url(../images/parallax-moved-car.png);
  animation-timing-function: ease-in;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-name: animateCarOff;

  &.move-parallax-car {
    animation-name: animateCarOn;
    left: -100%;
  }

}

@keyframes animateCarOn {
  0% {
    left: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@keyframes animateCarOff {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}