// Countdown
.promo-countdown {
  margin: 0 auto 12px;
  display: flex;
  justify-content: center;

  .bloc-time {
    text-align: center;
    position: relative;

    &:not(:first-child) {
      margin-left: 18px;

      &:before {
        content: '';
        position: absolute;
        top: 18px;
        left: -12px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $brand-danger;
        box-shadow: 0 8px 0 $brand-danger;
      }
    }

    &.sec {
      display: none;
    }
  }

  .count-title {
    display: block;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: #fff;
    text-transform: lowercase;
    clear: both;
  }

  .figure {
    position: relative;
    float: left;
    width: 36px;
    height: 52px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08);

    &:not(:first-child) {
      margin-left: 6px;
    }

    > span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 46px;
      line-height: 52px;
      font-weight: 700;
      color: $brand-danger;
      font-family: 'proxima_nova_rg', $font-family-sans-serif;
    }

    .top, .bottom-back {
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }

    .top {
      z-index: 3;
      background-color: #f7f7f7;
      transform-origin: 50% 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transform: perspective(200px);
    }

    .bottom {
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, .02);
      }
    }

    .bottom-back {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;
      background-color: #f7f7f7;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .top, .top-back {
      height: 50%;
      overflow: hidden;
      backface-visibility: hidden;
    }

    .top-back {
      z-index: 4;
      bottom: 0;
      background-color: #fff;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transform: perspective(200px) rotateX(180deg);

      span {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .bloc-time {
      &:before {
        top: 30px;
      }

      &.sec {
        display: block;
      }
    }
    .figure {
      width: 56px;
      height: 80px;

      > span {
        font-size: 72px;
        line-height: 80px;
      }
    }
  }

}