.section-start {
  padding: 61px 0 80px;
  background: rgb(237, 239, 255);

  .section-start__title {
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(43, 57, 143);
    margin-bottom: 37px;
  }

  .section-start__car {
    position: relative;
    text-align: center;
    padding: 153px 0 0;
    background: url(../images/start-image.png) -170px 0 no-repeat;
    width: 100%;
    min-height: 360px;
  }
}

.section-start__button {
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border-radius: 1000px;
  line-height: 1.1578;
  margin-top: 226px;
}

.section-start__list {
  list-style: none;
  margin: 56px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  > li {
    max-width: 350px;
    margin: 0 14px;
    padding: 0 0 0 95px;
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 1.5;
    min-height: 180px;

    &:first-child {
      background-image: url(../images/start-list-1.png);
    }

    &:nth-child(2) {
      background-image: url(../images/start-list-2.png);
    }

    &:nth-child(3) {
      background-image: url(../images/start-list-3.png);
    }
  }

  .section-start__list-hint {
    display: block;
    margin-top: 2px;
    font-size: 11px;
    line-height: 18px;
  }
}

@include media-breakpoint-up(sm) {
  .section-start {
    .section-start__car {
      text-align: right;
    }

    .section-start__button {
      padding: 17px 42px;
      font-size: 19px;
      letter-spacing: 1.3px;
      margin-top: 26px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .section-start__list {
    flex-direction: row;
    align-items: flex-start;

    > li {
      min-height: 0;
      padding-top: 20px;
      &:first-child {
        background-position: 25px 0;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .section-start {
    .section-start__car {
      background-position: 50% 0;
    }
  }
}

.js {
  .section-start {
    .section-start__car,
    .section-start__title {
      @include animate-defaut();
      transform: translate3d(0, 100px, 0);
    }

    .section-start__title {
      @include animate-step-1();
    }

    .section-start__car {
      @include animate-step-2();
    }

    &.show-content {
      .section-start__car,
      .section-start__title {
        @include animate-reset();
      }
    }

    .section-start__list {
      > li {
        @include animate-defaut();
        transform: translate3d(0, 100px, 0);
        &:first-child() {
          @include animate-step-1();
        }

        &:nth-child(2) {
          @include animate-step-2();
        }

        &:last-child {
          @include animate-step-3();
        }
      }

      &.show-content {
        > li {
          @include animate-reset();
        }
      }
    }
  }
}