.section-tech {
  padding-top: 64px;
  padding-bottom: 84px;

  .section-tech__title {
    color: rgb(43, 57, 143);
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 19px;
    text-align: center;
  }

  .section-tech__hint {
    display: block;
    line-height: 1.5;
    padding-top: 5px;
    border-top: 1px solid rgba(101, 107, 111, 0.3);
    margin-top: -8px;
    font-size: 10px;
    margin-bottom: 22px;
    margin-top: 50px;
  }

  @include media-breakpoint-up(md) {
    .section-tech__hint {
      margin-top: 50px;
      margin-left: 50%;
      display: inline-block;
    }
  }

  @include media-breakpoint-up(xl) {
    .section-tech__hint {
      margin-left: 674px;
      margin-top: 0;
    }
  }

}

.section-tech__client,
.section-tech__device {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
}

.tech-descrition {
  text-align: center;
  margin-top: 30px;
  width: 100%;

  .tech-descrition__label {
    color: $brand-danger;
    margin-bottom: 1px;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .tech-descrition__name {
    display: inline-block;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.6px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(47, 55, 161);
  }

  .tech-descrition__content {
    margin-top: 26px;

  }

  .tech-descrition__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    max-width: 380px;

    > li {
      padding: 0 0 0 20px;
      background: url(../images/circle.png) 0 6px no-repeat;
      background-size: 12px;

      &:not(:first-child) {
        margin-top: 36px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    text-align: left;
    margin-top: 0;
    width: auto;

    .tech-descrition__list {
      margin: 0;
    }
  }

}

.section-tech__button {
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border-radius: 1000px;
  line-height: 22px;
  margin-top: 26px;
}

@include media-breakpoint-up(md) {
  .section-tech__button {
    padding: 12px 34px;
  }
}

@include media-breakpoint-up(xl) {
  .section-tech__client {
    padding-left: 163px;
  }
}



.js {
  .section-tech {

    .tech-descrition,
    .animate-img--tech-device,
    .section-tech__title,
    .animate-img--tech-client {
      @include animate-defaut();
    }


    .section-tech__title {
      @include animate-step-1();
      transform: translate3d(0, 100px, 0);
    }

    .animate-img--tech-device {
      @include animate-step-2();
      transform: translate3d(-100px, 0, 0);
    }

    .tech-descrition {
      @include animate-step-3();
      transform: translate3d(100px, 0, 0);
    }

    &.show-content {
      .section-tech__device .tech-descrition,
      .animate-img--tech-device,
      .section-tech__title {
        @include animate-reset();
      }
    }

    .section-tech__client {
      .tech-descrition {
        @include animate-step-1();
        transform: translate3d(-100px, 0, 0);
      }

      .animate-img--tech-client {
        @include animate-step-2();
        transform: translate3d(100px, 0, 0);
      }

      &.show-content {
        .animate-img--tech-client,
        .tech-descrition {
          @include animate-reset();
        }
      }
    }
  }
}