$font-family-sans-serif: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$body-bg: rgb(249, 249, 249);
$body-color: rgb(64, 66, 86);
$brand-primary: #2b398f;
$brand-danger: rgb(243, 77, 71);
$btn-border-radius-lg: 1000px;


$input-padding-x: 16px;
$input-padding-y: 12px;
$input-line-height: 1;

$input-bg: rgb(250, 250, 250);

$input-color: $body-color;
$input-border-color: rgb(230, 230, 230);

$input-border-radius: 6px;

$input-bg-focus: #fff;
$input-border-focus: rgb(47, 55, 161);
$input-box-shadow-focus: none;
$input-color-focus: rgb(101, 107, 111);

$input-color-placeholder: rgb(159, 163, 167);

$form-icon-danger: url(../images/icon-error.svg);

$btn-font-weight: 600;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
