// Core variables and mixins
//
@font-face {
  font-family: 'intro';
  src: url('../fonts/intro.woff2') format('woff2'),
       url('../fonts/intro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rg';
    src: url('../fonts/proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@import "bower_components/bootstrap/scss/variables";
@import "bower_components/bootstrap/scss/mixins";
// here to ovveride bootstrap variables
@import "variables";
// Reset and dependencies
@import "bower_components/bootstrap/scss/normalize";
@import "bower_components/bootstrap/scss/print";

// Core CSS
@import "bower_components/bootstrap/scss/reboot";
@import "bower_components/bootstrap/scss/type";
@import "bower_components/bootstrap/scss/images";
@import "bower_components/bootstrap/scss/grid";
@import "bower_components/bootstrap/scss/forms";
@import "bower_components/bootstrap/scss/buttons";
@import "bower_components/bootstrap/scss/close";
@import "bower_components/bootstrap/scss/navbar";
@import "bower_components/bootstrap/scss/transitions";

// Utility classes
@import "bower_components/bootstrap/scss/utilities";
@import "bower_components/bootstrap/scss/modal";

@import "mixin";
@import "common";
@import "layout";
@import "buttons";
@import "forms";
@import "icons";
@import "header";
@import "footer";
@import "promo";
@import "promo-countdown";
@import "automatic";
// @import "tech";
// @import "start";
@import "end";
@import "price";
@import "contacts";
@import "order-modal";
@import "login-modal";
