* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

// Core variables and mixins
//
@font-face {
  font-family: 'intro';
  src: url('../fonts/intro.woff2') format('woff2'),
       url('../fonts/intro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rg';
    src: url('../fonts/proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSansSemiBold.eot');
    src: url('../fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
         url('../fonts/OpenSansSemiBold.woff') format('woff'),
         url('../fonts/OpenSansSemiBold.ttf') format('truetype'),
         url('../fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
    font-style: normal;
    font-weight: normal;
}

@import "bower_components/bootstrap/scss/variables";
@import "bower_components/bootstrap/scss/mixins";
// here to ovveride bootstrap variables
@import "version2/variables";
// Reset and dependencies
@import "bower_components/bootstrap/scss/normalize";
@import "bower_components/bootstrap/scss/print";

// Core CSS
@import "bower_components/bootstrap/scss/reboot";
@import "bower_components/bootstrap/scss/type";
@import "bower_components/bootstrap/scss/images";
@import "bower_components/bootstrap/scss/grid";
@import "bower_components/bootstrap/scss/forms";
@import "bower_components/bootstrap/scss/buttons";
@import "bower_components/bootstrap/scss/close";
@import "bower_components/bootstrap/scss/navbar";
@import "bower_components/bootstrap/scss/transitions";

// Utility classes
@import "bower_components/bootstrap/scss/utilities";
@import "bower_components/bootstrap/scss/modal";

@import "layout";
@import "order-modal";
@import "buttons";
@import "forms";
@import "icons";

@import "version2/index.scss";
