<section class="section-case">
  <div class="case-list">
    <div class="case-list__item">
      <span class="case-list__icon case-list__icon--time"></span>
      <div class="case-list__content">
        <div class="case-list__title">
          Спешите по делам?
        </div>
        <div class="case-list__text">
          Паркоматика самостоятельно определит парковочную зону и время начала парковки
        </div>
      </div>
    </div>
    <div class="case-list__item">
      <span class="case-list__icon case-list__icon--money"></span>
      <div class="case-list__content">
        <div class="case-list__title">
          Все время забываете вернуть деньги за неиспользованные минуты?
        </div>
        <div class="case-list__text">
          Паркоматика спишет деньги только за время парковки и сэкономит ваши деньги
        </div>
      </div>
    </div>
    <div class="case-list__item">
      <span class="case-list__icon case-list__icon--stopwatch"></span>
      <div class="case-list__content">
        <div class="case-list__title">
          Не знаете, сколько минут или
          часов будете стоять на парковке?
        </div>
        <div class="case-list__text">
          Паркоматика автоматически определит начало и окончание парковки
        </div>
      </div>
    </div>
    <div class="case-list__item">
      <span class="case-list__icon case-list__icon--envelope"></span>
      <div class="case-list__content">
        <div class="case-list__title">
          Получаете штрафы за парковку?
        </div>
        <div class="case-list__text">
          Паркоматика избавит вас от штрафов
        </div>
      </div>
    </div>
  </div>
</section>