<section class="section-feedback">
    <div class="section-feedback__container">
        <div class="section-feedback__title">Отзывы наших клиентов</div>
        <div class="section-feedback__slider">
            <div class="arrows"></div>
            <div class="rewiews-slider">
                <div class="rewiews-slide-inner">
                    <div class="rewiews-slide">
                        <div class="rewiews-slide-top">
                            <div class="photo-user">
                                <img src="images/imgGirl1.png">
                            </div>
                            <div class="rewiews-slide-top-text">
                                <div class="name">Елена Новикова</div>
                            </div>
                        </div>
                        <div class="rewiews-text">
                            <div class="text">
                                <p>Часто паркуюсь в центре. Приходится пользоваться платными городскими парковками, так как в центре бесплатных парковок не осталось почти. Даже скачала приложение московского паркинга. Но это не спасает от того, что приходится возиться с телефоном, чтобы начать или продлить парковку. Порой просто на это нет времени.
                                А с Паркоматикой нужно только найти свободное местечко рядом с нужным местом. Все остальные манипуляции с парковкой делает за меня Паркоматика.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rewiews-slide-inner">
                    <div class="rewiews-slide">
                        <div class="rewiews-slide-top">
                            <div class="photo-user">
                                <img src="images/imgMan.png">
                            </div>
                            <div class="rewiews-slide-top-text">
                                <div class="name">Николай Завицкий</div>
                            </div>
                        </div>
                        <div class="rewiews-text">
                            <div class="text">
                                <p>Моя работа подразумевает регулярные встречи с клиентами, поэтому приходится разъезжать по Москве и по большей части в центре или в пределах ТТК в рабочие дни. Порой, делаю несколько кругов, перед тем как найду свободное парковочное место. А потом уже бегу на встречу, чтобы не опоздать и просто некогда возиться с парковкой. Паркоматика  - для меня решение этой проблемы. Очень рад, что есть такая штука.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rewiews-slide-inner">
                    <div class="rewiews-slide">
                        <div class="rewiews-slide-top">
                            <div class="photo-user">
                                <img src="images/imgGirl2.png">
                            </div>
                            <div class="rewiews-slide-top-text">
                                <div class="name">Мария Филатова  </div>
                            </div>
                        </div>
                        <div class="rewiews-text">
                            <div class="text">
                                <p>Получила очередной штраф за неоплаченную парковку. Хотела оплатить парковку, но вылетело из головы.
                                   Подруга рассказала про сервис, который сам автоматически начинает и заканчивает парковку и оплачивает парковку тоже автоматически. «Не может быть» - подумала я. А вот, оказывается, и может.
                                   Спасибо «Паркоматике» за то, что она помогла
                                   мне забыть о штрафах!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
