<section class="section-howitworks">
  <div class="container">
    <div class="section-howitworks__title">
      Как работает паркоматика
    </div>

    <div class="section-howitworks__video-container">
      <div class="section-howitworks__video">
        <iframe src="https://player.vimeo.com/video/242087980" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section class="new-one">
  <div class="wrap">
    <div class="new-one-title">С Паркотроном сервис максимально автоматизирует процесс оплаты парковки, заботясь о вашем времени и нервах</div>
    <div class="s-container clearfix">
      <div class="new-one-left float-left relative">
        <img src="images/new-one-img-1.png" class="new-one-img-1">
        <img src="images/new-one-img-2.png" class="new-one-img-2">
        <img src="images/new-one-img-3.png" class="new-one-img-3">
        <img src="images/new-one-img-4.png" class="new-one-img-4">
      </div>
      <div class="new-one-right float-right">
        <div class="title"><b>Паркотрон</b> – это надежное и безопасное устройство в ваше авто</div>
        <ul>
          <li>
            <div class="play-small"></div>
            <p>Самостоятельно определит парковочную зону</p>
          </li>
          <li>
            <div class="play-small"></div>
            <p>Запустит и завершит парковочную сессию</p>
          </li>
          <li>
            <div class="play-small"></div>
            <p>Внимательно учтет время пребывания на парковке: первые 15 минут всегда бесплатны!</p>
          </li>
          <li>
            <div class="play-small"></div>
            <p>Продлит парковку, избавив от штрафа</p>
          </li>
          <li>
            <div class="play-small"></div>
            <p>Легко устанавливается в любой автомобиль, используя OBD2 разъём вашего автомобиля. Никаких специальных навыков не требуется.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="new-two">
  <div class="wrap">
    <div class="new-two-title">Сколько стоит?</div>
    <div class="item-center border-bg">
      <div class="item-center-top">
        <div class="title in-middle">Покупка устойства</div>
        <div class="item-center-price in-middle">5 000 ₽</div>
      </div>
      <div class="item-center-bottom">
        <div class="text">Вы можете вернуть устройство со 100% компенсацией<br>в течении 365 дней с момента покупки</div>
      </div>
    </div>
    <div class="tarifs">
      <img src="images/plus.png">
      <div class="title">Тарифы:</div>
    </div>
    <div class="s-container clearfix">
      <div class="item border-bg relative float-left">
        <div class="item-top">
          <div class="bold">Комиссия</div>
          <div class="summ">15%</div>
          <div class="bold">за парковочные сессии</div>
        </div>
        <div class="item-bottom">
          <div class="text">Платите только за<br>использование сервиса</div>
        </div>
        <div class="qivicly absolute">
          <div class="text">Скоро</div>
        </div>
      </div>
      <div class="item border-bg relative float-right">
        <div class="item-top">
          <div class="bold">Сервисное обслуживание</div>
          <div class="summ">299 ₽</div>
          <div class="bold">в месяц</div>
        </div>
        <div class="item-bottom">
          <div class="text">Выгодно при регулярной<br>парковке в платной зоне</div>
        </div>
      </div>
    </div>
    <div class="new-two-end-text">Цена включает SIM карту, связь и комиссии за транзакции!</div>
    <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#orderModal" href="javascript:void(0);">НАЧАТЬ ПОЛЬЗОВАТЬСЯ</button>
  </div>
</section>
