
<section class="one">
  <div class="wrap">
    <div class="clearfix">
      <div class="one-right float-right">
        <div class="one-title">АВТОМАТИЧЕСКАЯ ОПЛАТА
ГОРОДСКОЙ ПАРКОВКИ МОСКВЫ </div>
        <div class="one-title-sub">Просто найдите свободное парковочное место!
Все остальное за вас сделает Паркоматика. </div>
        <div class="one-desctop-block">
          <div class="one-text">Заполните форму сейчас и получите <b>до 5 часов парковки в подарок!</b></div>
          <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#orderModal" href="javascript:void(0);">ЗАКАЗАТЬ ПАРКОМАТИКУ</button>
        </div>
      </div>
      <div class="one-left float-left">
        <div class="one-left-inner relative r50">
          <div class="one-img-1 absolute">
            <img src="images/one-img-1.png">
          </div>
          <div class="one-img-2 absolute">
            <img src="images/one-img-2.png">
          </div>
        </div>
        <div class="one-mobile-block">
          <div class="one-text">Начните пользоваться Паркоматикой сейчас и получите <b>до 5 часов парковки в подарок!</b></div>
          <button type="button" class="btn btn-default btn-desctop btn-block" data-toggle="modal" data-target="#orderModal" href="javascript:void(0);">ЗАКАЗАТЬ ПАРКОМАТИКУ</button>
          <a href="" id="link-app" class="btn btn-default btn-mobile btn-block" target="_blank">Скачать приложение и продолжить</a>
        </div>
      </div>
    </div>
    <a class="page-down" data-href="#two">
      <img src="images/a-down.png">
    </a>
  </div>
</section>
