<section class="section-stat">
    <div class="section-stat__title">С каждым годом в Москве вводятся&ensp;
        <br>новые платные парковки</div>
    <div class="section-stat__container">
        <div class="stat-list">
            <div class="stat-list__item stat-list__item--2015">
                <div class="stat-list__title">2015 год</div>
                <div class="stat-list__content">
                    <div class="stat-list__count">22,5 тыс</div>
                    <div class="stat-list__text">парковочных
                        <br>мест</div>
                </div>
            </div>
            <div class="stat-list__item stat-list__item--2016">
                <div class="stat-list__title">2016 год</div>
                <div class="stat-list__content">
                    <div class="stat-list__count">46,7 тыс</div>
                    <div class="stat-list__text">парковочных
                        <br>мест</div>
                </div>
            </div>
            <div class="stat-list__item stat-list__item--2017">
                <div class="stat-list__title">2017 год</div>
                <div class="stat-list__content">
                    <div class="stat-list__text">более</div>
                    <div class="stat-list__count">80 тыс</div>
                    <div class="stat-list__text">парковочных
                        <br>мест</div>
                </div>
            </div>
        </div>
        <div class="section-stat__more">
            <div class="block-promo-more">
                <h2 class="block-promo-more__title">Есть вопросы?</h2>
                <div class="block-stock">Закажите звонок и мы проконсультируем Вас по Паркоматике</div>
                <div class="block-promo-form">
                    <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-one" href="javascript:void(0);">ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ</button>
                </div>
            </div>
        </div>
    </div>
</section>