<section class="section-step" id="two">
  <div class="step-list">
    <div class="step-list__item">
      <span class="step-list__icon step-list__icon--parking"></span>
      <div class="step-list__content">
        <div class="step-list__title">
          ШАГ 1
        </div>
        <div class="step-list__text">
          Паркоматика самостоятельно определит парковочную зону и время начала парковки
        </div>
      </div>
    </div>
    <div class="step-list__item">
      <span class="step-list__icon step-list__icon--time"></span>
      <div class="step-list__content">
        <div class="step-list__title">
          ШАГ 2
        </div>
        <div class="step-list__text">
          Учтет время, проведенное на парковке. Первые 15 минут всегда бесплатны. В момент Вашего отъезда зафиксирует окончание парковки
        </div>
      </div>
    </div>
    <div class="step-list__item">
      <span class="step-list__icon step-list__icon--paymant"></span>
      <div class="step-list__content">
        <div class="step-list__title">
          ШАГ 3
        </div>
        <div class="step-list__text">
          Автоматически оплатит парковку
        </div>
      </div>
    </div>
  </div>
</section>