.btn {
  cursor: pointer;
  box-shadow: none;
}

.btn-default {
  @include button-variant(#fff, $brand-primary, $brand-primary);

  border-radius: $border-radius;
  font-size: 14px;
  line-height: 1.2857;
  letter-spacing: .8px;
  padding: 12px 8px;
  cursor: pointer;

  &:active,
  &:focus {
    background: rgb(30, 130, 30);
    box-shadow: none;
  }
}

.btn.disabled,
.btn:disabled {
  background: #dcdedf !important;
  color: #b7babd !important;
  border-color: #dcdedf !important;
  opacity: 1 !important;
}