.section-case {
  padding: 24px 0;
  background: $highlight-bg;

  @include media-breakpoint-up(md) {
    padding: 32px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 80px 0 33px;
  }
}

.case-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .case-list__item {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 288px;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  .case-list__content {
    // fix IE11 bug
    width: 100%;
  }

  .case-list__icon {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
    margin-bottom: 12px;

    &.case-list__icon--time {
      background-image: url(../images/caseHurryIcon.png);
    }

    &.case-list__icon--money {
      background-image: url(../images/caseMoney.png);
    }

    &.case-list__icon--stopwatch {
      background-image: url(../images/caseTimeIcon.png);
    }

    &.case-list__icon--envelope {
      background-image: url(../images/caseFineIcon.png);
    }
  }

  .case-list__title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: $body-color;
    margin-bottom: 4px;
  }

  .case-list__text {
    font-size: 14px;
    line-height: 1.4285;
    letter-spacing: 0.2px;
    color: $body-color;
  }

  @include media-breakpoint-up(md) {
    max-width: 720px;
    margin: 0 auto -58px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    .case-list__item {
      max-width: 346px;
      text-align: left;
      padding-left: 111px;
      position: relative;
      margin: 0 0 58px !important;
    }

    .case-list__icon {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      width: 100px;
      height: 100px;
    }
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;

    .case-list__item {
      max-width: 528px;
      width: 528px;
      padding-left: 114px;
      align-items: flex-start;
      justify-content: center;
      min-height: 98px;
    }

    .case-list__icon {
      width: 98px;
      height: 98px;
    }

    .case-list__title {
      font-size: 20px;
    }

    .case-list__text {
      font-size: 16px;
    }
  }
}
