.section-feedback {
  background: $highlight-bg;
  padding: 10px 0 32px;

  .section-feedback__container {
    max-width: 410px;
    margin: auto;
  }

  .section-feedback__title {
    @include title-default();

    margin-bottom: 16px;
    color: $body-color;
    text-align: center;
  }

  .arrows {
    position: relative;
    z-index: 1;

    .slick-arrow {
      @include text-hide;

      position: absolute;
      top: 0;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      background: rgb(230, 230, 230) url(../images/arrow.png) no-repeat center center / 12px 11px;
    }

    .slick-prev {
      left: 44px;
      top: 55px;
      transform: scaleX(-1);
    }

    .slick-next {
      right: 44px;
      top: 55px;
    }
  }

  .rewiews-slide {
    background: #fff;
    padding: 12px 12px 30px;
    margin: 18px 7px;
    border-radius: 4px;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.17);
    text-align: center;

    .photo-user {
      position: relative;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: auto;
      }
    }

    .rewiews-slide-top-text {
      .name {
        font-size: 14px;
        font-weight: 600;
        padding: 6px 0 8px;
      }
    }

    .rewiews-text {
      font-size: 12px;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 50px 0 100px;

    .section-feedback__container {
      display: flex;
      align-items: flex-start;
      max-width: 730px;
    }

    .section-feedback__title {
      width: 30%;
      flex: 0 0 30%;
      font-size: 24px;
      padding-top: 120px;
      text-align: left;
      background: url(../images/quotesImg.png) no-repeat left top / 140px 104px;
    }

    .section-feedback__slider {
      width: 70%;
      flex: 0 0 70%;
      margin-top: 20px;
      max-width: 500px;
    }

    .rewiews-slider {
      padding-right: 45px;
    }

    .rewiews-slide {
      display: flex;
      padding: 16px 14px;
      margin: 18px;

      .rewiews-text {
        text-align: left;
        padding-left: 10px;
      }
    }

    .arrows {
      .slick-prev {
        display: none !important;
      }

      .slick-next {
        right: 0;
        top: 100px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 150px 0 125px;

    .section-feedback__container {
      max-width: 1080px;
    }
    .section-feedback__slider {
       max-width: 756px;
    }

    .section-feedback__title {
      background-size: 196px 145px;
      font-size: 36px;
      padding-top: 163px;
    }

    .arrows {
      .slick-arrow {
        width: 50px;
        height: 50px;
        background-size: 19px 18px;
      }

      .slick-next {
        top: 150px;
      }
    }

    .rewiews-slide {
      padding: 38px 30px;
      margin: 24px;
      box-shadow: 0 2px 24px 0  rgba(0, 0, 0, 0.17);

      .rewiews-slide-top-text {
        .name {
          font-size: 18px;
          padding: 12px 0;
        }
      }

      .photo-user {
        img {
          width: 190px;
          height: 190px;
        }
      }

      .rewiews-text {
        font-size: 16px;
        padding-left: 20px;
      }
    }
  }
}
