
.page-footer {
    background: #4d545c;
    padding: 14px 0 6px;
    color: #fff;
    text-align: center
}

/*.page-footer .page-footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}*/

.page-footer .page-footer__logo {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    height: 22px;
    width: 104px;
    background: url(../images/logo.png) no-repeat 0 0;
    background-size: contain
}
@media (min-width: 768px){
    .page-footer .page-footer__logo {
        height: 28px;
        width: 140px;
    }
}
@media (min-width: 1200px){
    .page-footer .page-footer__logo {
        height: 32px;
        width: 160px;
    }
    .page-footer .container{
        width:1080px;
    }
}

.page-footer .page-footer__copy {
    padding-top: 12px;
    font-size: 12px;
    letter-spacing: .4px;
    text-align: center;
    line-height: 16px
}

.page-footer .page-footer__business-link {
    font-size: 10px;
    color: #fff;
    margin-top: 7px;
    display: block;
}

.page-footer .page-footer__business-link:after {
    content: url(../images/lienIcon.png);
    display: inline-block;
    width: 8px;
    height: 14px;
    margin: -7px 0 0 7px;
    vertical-align: middle
}
.footer-left a.politics{
    width: initial;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
.footer-left a{
  width: 105px;
  margin-right: 10px;
}
.footer-left a img{
  max-width: 100%;
}
.footer-left span{
  margin-right: 10px;
}

@media (min-width:768px) {
    .page-footer {
        padding: 24px 0 6px
    }
    .page-footer .page-footer__logo {
        height: 28px;
        width: 140px
    }
    .page-footer .page-footer__business-link {
        font-size: 14px
    }
}
@media screen and (max-width: 1199px){
    .footer-left span {
        margin-right: 5px;
    }
    .footer-left a{
        width: 95px;
    }
}
@media screen and (max-width: 767px){
    .page-footer .page-footer__logo{
        width: 120.5px;
        float: none!important;
        margin: 0 auto 24px;
        display: block;
    }
    .footer-left{
        float: none!important;
    }
    .footer-left a:last-child{
        margin-right: 0;
    }
    .page-footer .page-footer__business-link:after{
        margin-top: 0px;
    }
    .page-footer .page-footer__business-link{
        display: inline-block;
        float: none!important;
        margin-top: 25px;
    }
    .page-footer .page-footer__copy{
        padding-top: 25px;
    }
    .footer-left a.politics{
        display: block;
        font-size: 9px;
        margin-top: 20px;
    }
    .footer-left a:nth-child(3){
        margin-right: 0;
    }
    .footer-left a{
        width: 105px;
    }
}