.promo-form {
  position: relative;

  .form-group {
    margin-bottom: 8px;

    .form-control-feedback {
      display: none;
    }

    &.has-danger {
      .form-control-feedback {
        display: block;
      }
    }
  }

  .default-form__submit-wrp {
    margin-top: 12px;
  }

  .form-control {
    letter-spacing: 0.8px;
    padding: 0px 8px;
    height:40px;
    line-height: 18px;
    color: $body-color;
    // border-color: #fff;
    border-radius: $border-radius;

    &::placeholder {
      color: rgba(90, 90, 90, .8);
    }
  }

  @include media-breakpoint-up(xl) {
    .form-group {
      margin-bottom: 16px;
    }
  }
}

.form-control {
  .has-danger & {
    background-size: 16px auto;
  }
}
