.page-header {
  position: relative;
  left: 0;
  right: 0;
  color: #fff;
  background: $brand-primary;
  padding: 5px 0;
  line-height: 0;

  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    @include text-hide;

    display: block;
    height: 22px;
    width: 104px;
    background: url(../images/logo.png) no-repeat 0 0;
    background-size: contain;
  }

  .page-header__business-link {
    font-size: 10px;
    color: #fff;
  }

  .page-header__business-link:after {
    content: url("../images/lienIcon.png");
    display: inline-block;
    width: 8px;
    height: 14px;
    margin: -4px 0 0 7px;
    vertical-align: middle;
  }

  .container {
    max-width: 1024px !important;
  }

  @include media-breakpoint-up(md) {
    padding: 7px 0;

    .page-header__logo {
      height: 26px;
      width: 140px;
    }

    .page-header__business-link {
      font-size: 14px;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 15px 0;

    .page-header__logo {
      height: 40px;
      width: 220px;

      .icon-logo {
        width: 40px;
        height: 40px;
      }
    }

    .page-header__business-link {
      font-size: 16px;
    }
  }
}