.section-howitworks {
  background: $highlight-bg;
  padding: 24px 0 32px;

  .section-howitworks__title {
    @include title-default();

    margin-bottom: 16px;
    color: $body-color;
    text-align: center;
  }

  .section-howitworks__container {
    width: 100%;
  }

  .section-howitworks__video {
    iframe {
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 32px 0 54px;

    .section-howitworks__title {
      margin-bottom: 48px;
    }

    .section-howitworks__video-container {
      margin: 0 auto;

      .section-howitworks__video {
        iframe {
          height: 341px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 72px 0 15px;

    .section-howitworks__title {
      margin-bottom: 40px;
    }

    .section-howitworks__video-container {
      .section-howitworks__video {
        iframe {
          height: 576px;
        }
      }
    }
  }
}
.new-one{
  padding: 101px 0 42px;
  background: rgb(247,247,247);
}
.new-one .wrap{
  max-width: 1121px;
  margin: 0 auto;
}
.new-one-title{
  font-size: 32px;
  font-family:  OpenSansSemiBold;
  line-height: 48px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 12px;
}
.new-one-left{
  width: 58.29514207149404%;
  height: 636px;
  background: url(../images/new-one-left.png)no-repeat center top;
  background-size: 100%;
  margin-left: -2.566452795600367%;
}
.new-one-left img{
  position: absolute;
}
.new-one-img-1{
  width: 88px;
  top: 6.761006289308176%;
  left: 20.12578616352201%;
}
.new-one-img-2{
  width: 114px;
  top: 12.57861635220126%;
  right: 7.232704402515723%;
}
.new-one-img-3{
  width: 109px;
  bottom: 8.176100628930818%;
  left: 17.13836477987421%;
}
.new-one-img-4{
  width: 184px;
  left: 35.22012578616352%;
  top: 28.45911949685535%;
}
.new-one-right {
  max-width: 475px;
  padding-top: 76px;
  margin-right: -15px;
  color: rgb(90,90,90);
}
.new-one-right .title{
  font-size: 20px;
  font-family:  OpenSansSemiBold;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
.new-one-right .title b{
  font-weight: normal;
  color: rgb(80, 162, 39);
}
.new-one-right ul{
  margin: 0;
  padding: 0;
}
.new-one-right ul li:last-child{
  margin-bottom: 0px;
}
.new-one-right ul li{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  list-style: none;
}
.new-one-right ul li p,
.new-one-right ul li .play-small{
  display: inline-block;
  vertical-align: top;
}
.new-one-right ul li p{
  width: calc(100% - 23px);
}
.new-one-right ul li .play-small{
  width: 12px;
  height: 12px;
  background: url(../images/play-small.png)no-repeat;
  background-size: 100%;
  margin-top: 6px;
}
.new-two .btn-block{
  max-width: 340px;
  margin: 48px auto 0;
}
.new-two{
  background: rgb(247,247,247);
  padding: 0 0 57px;
}
.new-two .wrap{
  max-width: 845px;
}
.new-two-title{
  text-align: center;
  font-size: 42px;
  line-height: 52px;
  color: rgb(90,90,90);
  font-family:  OpenSansSemiBold;
  letter-spacing: 0.4px;
  margin-bottom: 48px;
}
.new-two .item-center{
  text-align: center;
  padding: 20px 30px 22px;
  max-width: 564px;
  margin: 0 auto;
}
.border-bg{
  border: 2px solid rgba(115, 189, 78, 0.6);
  background: rgba(115, 189, 78, 0.12);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.item-center-top .title{
  font-size: 26px;
  color: rgb(90,90,90);
  font-family: OpenSansSemiBold;
  letter-spacing: 0.2px;
  margin-right: 40px;
}
.item-center-price{
  font-size: 46px;
  color: rgb(80, 162, 39);
  line-height: 60px;
}
.item-center-top{
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(115, 189, 78, 0.15)
}
.item-center-bottom{
  padding-top: 10px;
}
.tarifs{
  text-align: center;
  margin: 18px 0 36px;
}
.tarifs img{
  width: 35px;
}
.tarifs .title{
  margin-top: 12px;
  font-size: 26px;
  font-family: OpenSansSemiBold;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: rgb(80,162,39);
}
.new-two .s-container{
  max-width: 656px;
  margin: 0 auto;
}
.new-two .s-container .item{
  width: 284px;
  text-align: center;
  padding: 16px 20px 14px;
}
.item-top{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(115, 189, 78, 0.15);
}
.item-top .bold{
  font-size: 18px;
  letter-spacing: 0.2px;
  font-family: OpenSansSemiBold;
  color: rgb(90,90,90);
}
.item-top .summ{
  color: rgb(80, 162, 39);
  font-size: 46px;
  margin: 3px 0;
}
.new-two .s-container .item.float-right{
  padding: 16px 18px 14px;
}
.qivicly{
  padding: 10px 10.7px 13px 11px;
  color: #fff;
  background: rgb(115, 189, 78);
  border: 1.7px solid rgb(80, 162, 39);
  font-size: 20px;
  letter-spacing: 0.2px;
  font-family: OpenSansSemiBold;
  border-radius: 6.7px;
  -webkit-border-radius: 6.7px;
  -moz-border-radius: 6.7px;
  top: -18.2px;
  right: -26px;
}
.new-two .s-container .item.float-left:after{
  content: 'или';
  position: absolute;
  display: block;
  font-size: 26px;
  font-family: OpenSansSemiBold;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: rgb(80,162,39);
  top: 85px;
  right: -74px;
}
.new-two-end-text{
  text-align: center;
  margin-top: 38px;
  font-size: 26px;
  font-family: OpenSansSemiBold;
  line-height: 34px;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 1200px){
  .new-one-right{
    max-width: 402px;
  }
}
@media screen and (max-width: 1080px){
  .new-one .wrap{
    max-width: 900px;
  }
  .new-one-left{
    height: 507px;
    width: 56.295142%;
  }
  .new-one-img-4 {
    width: 160px;
    left: 34.220126%;
  }
  .new-one-right{
    margin-right: 0;
  }
}
@media screen and (max-width: 900px){
  .new-one .wrap{
    max-width: 750px;
  }
  .new-one-left{
    margin-left: -6.566453%;
    height: 405px;
  }
  .new-one-img-4 {
    width: 130px;
    left: 34.220126%;
  }
  .new-one-img-1{
    width: 60px;
  }
  .new-one-img-2{
    width: 85px;
  }
  .new-one-img-3{
    width: 75px;
  }
  .new-one-right {
    max-width: 360px;
    padding-top: 20px;
  }
  .new-one-right .title,
  .new-one-right ul li,
  .new-one-right ul li:last-of-type{
    margin-bottom: 10px;
  }
  .new-one-right ul li{
    line-height: 20px;
  }
}
@media screen and (max-width: 767px){
  #wrpapper section, .page-footer, .page-down, .btn-desctop{
    display: none;
  }
  #wrpapper section.one{
    display: block;
  }
  .btn-mobile{
    display: block;
    letter-spacing: -.2px;
  }
}
