@mixin title-default() {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2px;
  margin-bottom: 8px;

  @include media-breakpoint-up(md) {
    font-size: 26px;
    line-height: 1.26;
  }

  @include media-breakpoint-up(xl) {
    font-size: 36px;
    line-height: 1.388;
  }
}