
.r50{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.in-top{
    display: inline-block;
    vertical-align: top;
}
.in-middle{
    display: inline-block;
    vertical-align: middle;
}
.in-bottom{
    display: inline-block;
    vertical-align: bottom;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
/*===========================ONE=======================*/
/*===========================ONE=======================*/
/*===========================ONE=======================*/
/*===========================ONE=======================*/
/*===========================ONE=======================*/
.one{
  padding: 146px 0 48px;
  background: rgba(178, 178, 178, 0.1);
}
.one,.one *{
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Firefox */
    box-sizing: border-box; /* Ширина блока с полями */
}
.one img{
  display: inline;
  vertical-align: middle;
  max-width: 100%;
}
.wrap{
  max-width: 1082px;
  margin: 0 auto;
  padding: 0 15px;
}
.one-left-inner{
  height: 412px;
  width: 412px;
  background: rgba(115, 189, 78, 0.75);
  box-shadow: 0 0 0 20px rgba(115, 189, 78, 0.2);
}
.one-mobile-block{
  display: none;
}
.one-img-1{
  top: -70px;
  left: 56px;
  width: 304px;
}
.one-img-2{
  width: 105px;
  top: -39px;
  right: 17px;
}
.one-right{
  max-width: 560px;
  padding-top: 11px;
}
.one-title{
  font-weight: 600;
  line-height: 46px;
  font-size: 32px;
  color: rgb(90, 90, 90);
  margin-bottom: 8px;
}
.one-title-sub{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}
.one-text{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}
.one-text b{
  font-size: 24px;
  font-family: 'OpenSansSemiBold';
  display: block;
}
.one-right .btn-block{
  width: 420px;
  height: 56px;
  font-size: 20px;
  font-family: 'OpenSansSemiBold';
  letter-spacing: 1.4px;
}
.page-down{
  display: block;
  width: 60px;
  margin: 60px auto 0;
  cursor: pointer;
}
.block-promo-more{
  padding: 24px 17px 30px;
  text-align: center;
  font-family: 'OpenSansSemiBold';
  color: rgb(90,90,90);
}
.block-promo-more__title{
  font-size: 24px;
  line-height: 32px;
  letter-spacing: .4px;
  margin-bottom: 6px;
}
.block-stock{
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -.2px;
}
.block-promo-form button{
  width: 314px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 0;
  height: 42px;
}
@media screen and (max-width: 1199px){
  .one .wrap {
      max-width: 755px;
  }
  .one{
    padding: 90px 0 30px;
  }
  .one-right{
    width: initial;
    max-width: 330px;
    padding-top: 6px;
        margin: 0 auto;
  }
  .one-left-inner{
    width: 344px;
    height: 344px;
  }
  .one-img-1 {
      top: -55px;
      left: 45px;
      width: 254px;
  }
  .one-img-2 {
      width: 84px;
      top: -25px;
      right: 10px;
  }
  .one-title {
      line-height: 28px;
      font-size: 25px;
  }
  .one-title-sub {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
  }
  .one-text {
      font-size: 18px;
      line-height: 24px;
  }
  .one-text b{
    font-size: 18px;
  }
  .one-right .btn-block{
    max-width: 320px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .page-down{
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px){
    .one{
        padding: 10px 0 24px;
    }
    .wrap{
        max-width: 320px;
    }
    .one-right, .one-left{
        float: none!important;
        text-align: center;
    }
    .one-mobile-block{
        display: block;
    }
    .one-desctop-block{
        display: none;
    }
    .one-title{
        font-weight: normal;
        font-family: 'OpenSansSemiBold';
        letter-spacing: .2px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 2px;
    }
    .one-title-sub{
        margin-bottom: 36px;
        font-size: 15px;
        line-height: 22px;
    }
    .one-left-inner{
        width: 270px;
        height: 270px;
        margin: 0 auto;
        box-shadow: 0 0 0 12px rgba(115, 189, 78, 0.2);
    }
    .one-img-1{
        top: -21px;
        left: 45px;
        width: 182px;
    }
    .one-img-2{
        width: 73px;
        top: -21px;
        right: 2px;
    }
    .one-mobile-block{
        margin: 24px 0 0;
    }
    .one-text{
        font-size: 15px;
        line-height: 24px;
    }
    .one-text b{
        font-size: 17px;
    }
    .page-down{
        margin-top: 28px;
        width: 46px;
    }
  }