
.section-stat {
    padding: 24px 0 36px;
    background: url(../images/stat-bg.jpg) 50% 50% no-repeat;
    background-size: cover
}

.section-stat .section-stat__title {
    font-weight: 700;
    color: #fff;
    letter-spacing: .2px;
    margin-bottom: 8px;
    text-transform: none;
    text-align: center;
    margin: 0 10px 28px;
    font-size: 16px;
    line-height: 1.5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

@media (min-width:768px) {
    .section-stat .section-stat__title {
        font-size: 26px;
        line-height: 1.26
    }
}

@media (min-width:1200px) {
    .section-stat .section-stat__title {
        font-size: 36px;
        line-height: 1.388
    }
}

@media (max-width:575px) {
    .section-stat .section-stat__title {
        max-width: 365px;
        margin-left: auto;
        margin-right: auto;
    }
    .section-stat .section-stat__title br {
        display: none
    }
}

.section-stat .section-stat__container {
    max-width: 410px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px
}

@media (min-width:768px) {
    .section-stat {
        border-top-width: 24px
    }
    .section-stat .section-stat__container {
        max-width: 730px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width:1200px) {
    .section-stat {
        padding-bottom: 120px
    }
    .section-stat .section-stat__title {
        margin-bottom: 91px
    }
    .section-stat .section-stat__container {
        max-width: 1134px
    }
}

.stat-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.stat-list .stat-list__item {
    color: #fff;
    text-align: center;
    width: 50%
}

.stat-list .stat-list__title {
    margin-bottom: 15px;
    font-size: 16px;
    color: #fff;
    letter-spacing: .2px;
    font-weight: 600;
}

.stat-list .stat-list__content {
    margin: 0 auto;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    background: rgb(115, 189, 78);
    border-radius: 1000px;
    border: 12px solid  rgb(95, 167, 59);
}

.stat-list .stat-list__item--2015 .stat-list__content {
    width: 106px;
    height: 106px
}

.stat-list .stat-list__item--2015 .stat-list__content .stat-list__text {
    font-size: 12px
}

.stat-list .stat-list__item--2016 {
    -ms-flex-item-align: end;
    align-self: flex-end;
    /*margin-top: -74px;
    margin-bottom: -18px*/
}

.stat-list .stat-list__item--2016 .stat-list__content {
    width: 118px;
    height: 118px
}

.stat-list .stat-list__item--2016 .stat-list__content .stat-list__count {
    font-size: 20px
}

.stat-list .stat-list__item--2016 .stat-list__content .stat-list__text {
    font-size: 14px
}

.stat-list .stat-list__item--2017 .stat-list__content {
    width: 136px;
    height: 136px
}

.stat-list .stat-list__item--2017 .stat-list__content .stat-list__count {
    font-size: 22px
}

@media (min-width:768px) {
    .stat-list {
        width: 380px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .stat-list .stat-list__item {
        width: auto
    }
    .stat-list .stat-list__item.stat-list__item--2015 {
        margin-top: 10px
    }
    .stat-list .stat-list__item.stat-list__item--2016 {
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        margin: 5px 0 0
    }
    /*.stat-list .stat-list__item.stat-list__item--2017 {
        margin: 73px 0 0
    }*/
}

@media (min-width:1200px) {
    .stat-list {
        width: 600px
    }
    .stat-list .stat-list__item .stat-list__content {
      /*  box-shadow: 0 0 0 12px rgba(115, 189, 78, .47)*/
    }
    .stat-list .stat-list__item.stat-list__item--2015 {
        margin-top: 24px
    }
    .stat-list .stat-list__item.stat-list__item--2015 .stat-list__content {
        width: 144px;
        height: 144px
    }
    .stat-list .stat-list__item.stat-list__item--2015 .stat-list__content .stat-list__count {
        font-size: 20px
    }
    .stat-list .stat-list__item.stat-list__item--2015 .stat-list__content .stat-list__text {
        font-size: 14px
    }
    .stat-list .stat-list__item.stat-list__item--2016 {
        margin-top: 14px
    }
    .stat-list .stat-list__item.stat-list__item--2016 .stat-list__content {
        width: 164px;
        height: 164px
    }
    .stat-list .stat-list__item.stat-list__item--2016 .stat-list__content .stat-list__count {
        font-size: 24px
    }
    .stat-list .stat-list__item.stat-list__item--2016 .stat-list__content .stat-list__text {
        font-size: 16px
    }
    /*.stat-list .stat-list__item.stat-list__item--2017 {
        margin-top: 98px
    }*/
    .stat-list .stat-list__item.stat-list__item--2017 .stat-list__content {
        width: 192px;
        height: 192px
    }
    .stat-list .stat-list__item.stat-list__item--2017 .stat-list__content .stat-list__count {
        font-size: 29px
    }
    .stat-list .stat-list__item.stat-list__item--2017 .stat-list__content .stat-list__text {
        font-size: 20px
    }
    .stat-list .stat-list__title {
        font-size: 24px;
        margin-bottom: 12px
    }
}

.section-stat__more {
    margin: 28px auto 0;
    width: 296px;
}

.section-stat__more .block-promo-more {
    min-height: auto;
    /*padding: 8px 10px 16px;*/
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .28);
    border: 4px solid rgb(115, 189, 78);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #fff;
}

/*.section-stat__more .block-promo-more .block-promo-more__title {
    text-transform: none;
    line-height: 1.5
}*/

@media (min-width:768px) {
    .section-stat__more {
        width: 288px;
        margin-top: 0px
    }
}

@media (min-width:1200px) {
    .section-stat__more {
        width: 462px;
        margin-top: 16px;
    }
    .section-stat__more .block-promo-more {
        /*padding: 16px 50px 24px*/
    }
    /*.section-stat__more .block-promo-more .block-promo-more__title {
        font-size: 24px;
        margin-bottom: 16px
    }*/
    .section-stat__more .block-promo-more .block-promo-form {
        margin-top: 16px
    }
   /* .section-stat__more .block-promo-more .block-stock {
        padding: 8px 10px;
        font-size: 18px
    }*/
}
@media screen and (max-width: 1199px){
  .stat-list__content{
    border: 9px solid rgb(95, 167, 59)!important;
  }
    .block-promo-more__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 4px;
    }
    .block-stock {
        font-size: 18px;
        line-height: 24px;
    }
    .block-promo-form button {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 767px){
    .stat-list__content {
        border: 6px solid rgb(95, 167, 59)!important;
    }
    .stat-list .stat-list__item--2016 {
        margin-top: -60px;
        margin-bottom: -28px;
    }
    .stat-list .stat-list__title{
        margin-bottom: 10px;
    }
    .block-promo-more{
        padding: 14px 10px 12px;
    }
    .block-promo-more__title{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'OpenSansSemiBold';
        margin-bottom: 4px;
    }
    .block-stock{
        font-size: 13px;
        line-height: 20px;
        font-family: 'OpenSansSemiBold';
    }
    .block-promo-form{
        margin-top: 14px;
    }
    .block-promo-form button{
        letter-spacing: .8px;
    } 
    .section-stat__more .block-promo-more {
        min-height: auto;
        width: 296px;
        margin: 0 -4px;
    }
}