.section-step {
  padding: 24px 0;
  background: $brand-primary url(../images/backgroundStep.png) 50% 0 no-repeat;
  background-size: cover;

  .step-list {
    @extend .container;

    position: relative;
    z-index: 1;
  }

  @include media-breakpoint-up(md) {
    padding: 32px 0;

    .step-list {
      padding: 0;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    min-height: 336px;
  }
}

.step-list {
  .step-list__item {
    position: relative;
    padding-left: 92px;
    min-height: 80px;
    max-width: 296px;
    margin: 0 auto;

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  .step-list__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    @include media-breakpoint-up(md) {
      width: 100px;
      height: 100px;
    }

    &.step-list__icon--parking {
      background-image: url(../images/parkingPayment.png);
    }

    &.step-list__icon--time {
      background-image: url(../images/parkingTime.png);
    }

    &.step-list__icon--paymant {
      background-image: url(../images/parkingZone.png);
    }
  }

  .step-list__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 1.4285;
    letter-spacing: 0.2px;
  }

  .step-list__text {
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-weight: 600;
  }

  @include media-breakpoint-up(md) {
    .step-list__item {
      padding-left: 114px;
      max-width: 392px;
      min-height: 98px;

      &:first-child {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 39px;
          left: -75px;
          width: 71px;
          height: 147px;
          background: url(../images/step-arrow-md.png) 0 0 no-repeat;
        }
      }

      &:nth-child(2) {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 60px;
          left: -75px;
          width: 71px;
          height: 147px;
          background: url(../images/step-arrow-md.png) 0 0 no-repeat;
        }
      }
    }

    .step-list__icon {
      width: 98px;
      height: 98px;
    }

    .step-list__title {
      font-size: 18px;
      margin-bottom: 2px;
      letter-spacing: 0.4px;
    }

    .step-list__text {
      font-size: 14px;
    }
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: center;

    .step-list__item {
      padding-left: 114px;
      max-width: 392px;
      min-height: 98px;
      margin-top: 0 !important;

      &:not(:first-child) {
        margin-left: 26px;
      }

      &:first-child {
        position: relative;

        &:before {
          top: -79px;
          left: 96px;
          width: 292px;
          height: 79px;
          background: url(../images/step-arrow-1-lg.png) 0 0 no-repeat;
        }
      }

      &:nth-child(2) {

        &:before {
          content: '';
          position: absolute;
          top: 99px;
          left: 71px;
          width: 322px;
          height: 106px;
          background: url(../images/step-arrow-2-lg.png) 0 0 no-repeat;
        }
      }
    }

    .step-list__title {
      font-size: 20px;
    }

    .step-list__text {
      font-size: 16px;
    }
  }
}
