$font-family-sans-serif: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$body-bg: #fff;
$body-color: rgb(90, 90, 90);
$brand-primary: rgb(115, 189, 78);
$brand-secondary: rgb(34, 47, 204);
$highlight-bg: rgb(247, 247, 247);
$line-height-base: 1.375;
$border-radius: .375rem;

$input-padding-x: 16px;
$input-padding-y: 12px;

$input-line-height: 1;

$input-bg: rgb(250, 250, 250);

$input-color: $body-color;
$input-border-color: rgb(230, 230, 230);

$input-border-radius: $border-radius;

$input-color-placeholder: rgb(159, 163, 167);

$form-icon-danger: url(../images/icon-error.svg);

$btn-font-weight: 600;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$brand-danger: rgb(243, 77, 71);
$input-bg-focus: #fff;
$input-border-focus: rgb(47, 55, 161);
$input-box-shadow-focus: none;
$input-color-focus: rgb(101, 107, 111);