<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Паркоматика">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Паркоматика</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png"/>

    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128"/>

    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>

    <meta property="og:title" content="Паркоматика"/>
    <meta property="og:description" content="Сервис автоматической оплаты парковки в Москве"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:700&amp;subset=cyrillic-ext"
          rel="stylesheet"/>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main2.css -->
    <link rel="stylesheet" href="/styles/main2.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <script>!function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-NMNTGQS",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer")</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109665661-1"></script>

</head>
<body>
{% include metrika.liquid %}

<div id="wrpapper">
    <header class="page-header">
        <div class="container">
            <div class="flexbox">
            <span class="page-header__logo">
              ПАРКОМАТИКА
            </span>
                <a class="page-header__business-link" target="_blank" href="//parkomatica.ru/landings/3/">
                    Предложение для бизнеса
                </a>
            </div>
        </div>
    </header><!-- /header -->
    <div class="page-body">
        {% include version2/promo.liquid %}
        {% include version2/step.liquid %}
        {% include version2/case.liquid %}
        {% include version2/howitworks.liquid %}
        {% include version2/feedback.liquid %}
        {% include version2/stat.liquid %}
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="page-footer__content clearfix">
                <div class="footer-left clearfix float-left">
                    <span class="page-footer__logo in-middle">ПАРКОМАТИКА</span>
                    <a href="https://play.google.com/store/apps/details?id=ru.parkomatica&hl=ru" class="in-middle" target="_blank">
                        <img src="images/g-play.png">
                    </a>
                    <a href="https://itunes.apple.com/us/app/parkomatica-moscow-parking/id1268850750?mt=8&at=1l3v49K" class="in-middle" target="_blank">
                        <img src="images/itunes.png">
                    </a>
                    <a class="politics" target="_blank" href="offero.pdf">Политика Конфиденциальности</a>
                </div>
                <a class="page-footer__business-link float-right" target="_blank" href="//parkomatica.ru/landings/3/">Предложение для бизнеса</a>
            </div>
            <div class="page-footer__copy">&copy; 2017, Все права защищены</div>
        </div>
    </footer>
    {% include order-modal.liquid %}
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/tether/dist/js/tether.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script src="/bower_components/js-cookie/src/js.cookie.js"></script>
<script src="/bower_components/plax/js/plax.js"></script>
<script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/main.js -->
<script src="/scripts/main.js"></script>
<script src="/scripts/animation.js"></script>
<script src="/scripts/countdown.js"></script>
<script src="/scripts/device-detect.js"></script>
<script type="text/javascript">
  const isIos = deviceDetect.ios(), isAndoid = deviceDetect.android();

  var urlApp = 'https://itunes.apple.com/ru/app/parkomatica-moscow-parking/id1268850750?mt=8';
  switch (true) {
    case isIos:
      urlApp = 'https://redirect.appmetrica.yandex.com/serve/25347362654328580';
      break;
    case isAndoid:
      urlApp = 'https://redirect.appmetrica.yandex.com/serve/25347362654328580';
      break;
  }

  document.getElementById("link-app").href = urlApp;
  switch (true) {
    case isIos:
      urlApp = 'itms-apps://itunes.apple.com/app/parkomatica-moscow-parking/id1268850750';
      break;
    case isAndoid:
      urlApp = 'market://details?id=ru.parkomatica';
      break;
  }
</script>
<!-- endbuild -->
</body>
</html>
