<section class="section-automatic animate">
  <div class="container">
  <h2 class="section-automatic__title">
    Паркоматика максимально автоматизирует процесс парковки
  </h2>
  <div class="row">
    <div class="col text-center hidden-md-down">
      <div class="animate-img animate-img--automatic"></div>
    </div>
    <div class="col">
      <div class="automatic-list">
        <div class="automatic-list__item automatic-list__item--self">
          <div class="automatic-list__title">
            Самостоятельно определит&ensp;<br>
            парковочную зону
          </div>
          Чтобы исключить возможность ошибки —покажет на карте, где конкретно находится автомобиль и даст изменить номер зоны в течении первых трех минут
        </div>
        <div class="automatic-list__item automatic-list__item--time">
          <div class="automatic-list__title">
            Внимательно учтёт время,&ensp;<br>
            проведённое на парковке
          </div>
            Первые 15 минут парковки всегда бесплатны, а окончание парковки происходит автоматически в момент вашего отъезда с возвращением остатка неизрасходованных средств на счет
        </div>
        <div class="automatic-list__item automatic-list__item--payment">
          <div class="automatic-list__title">
            Удобная оплата картой
          </div>
            Больше не надо искать паркомат или набирать смс для оплаты парковки на бегу
        </div>
      </div>
    </div>
  </div>
</section>