<a name="contacts"></a>
<section class="section-contacts animate">
  <div class="container">
    <h2 class="section-contacts__title">
      <i class="icon-logo"></i>
      <span class="section-contacts__title-text">
        ПАРКОМАТИКА
        <span class="section-contacts__title-subtext">Удобная парковка для всех!</span>
      </span>
    </h2>
    <div class="block-contacts">
      <div class="block-contacts__map">
        <div class="contact-map-info">
          <div class="contact-map-info__title">
            Контактная информация
          </div>
          <div class="contact-map-info__list">
            <div class="contact-map-info__list-item">
              <i class="info-icon info-icon--placemark"></i>
              Москва,&ensp;<br />
              Новая Басманная, 29 стр 1
            </div>
            <div class="contact-map-info__list-item">
              <i class="info-icon info-icon--phone"></i>
              <a href="tel:88003015748" title="">8 (800) 301-57-48</a>
            </div>
            <div class="contact-map-info__list-item">
              <i class="info-icon info-icon--email"></i>
              <a href="mailto:info@parkomatica.ru" title="">info@parkomatica.ru</a>
            </div>
          </div>
        </div>
      </div>
      <form method="POST" action="/api/feedback" id="contact-form" class="js-default-form default-form block-contacts__form" novalidate>
        <div class="contacts-form__title">
          Остались вопросы?
          <div class="small">
            Свяжитесь с нами!
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">Как к Вам обращаться?</label>
          <input type="text" class="form-control form-control-danger" name="name" id="name" placeholder="Имя">
        </div>
        <div class="form-group">
          <label class="control-label" for="email">Почта</label>
          <input type="email" class="form-control form-control-danger" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="control-label" for="message">Ваше сообщение</label>
          <textarea name="message" id="message" placeholder="Текст сообщения… " class="form-control form-control-danger"></textarea>
        </div>
        <div class="default-form__submit-wrp">
          <button type="submit" class="btn btn-danger btn-block" disabled>
            ОТПРАВИТЬ
          </button>
        </div>
        <div class="default-form__message">
          <i class="default-form__message-icon"></i>
          <div class="default-form__message-title">
            Спасибо!
          </div>
          Ваше сообщение&ensp;<br>
          успешно отправлено
        </div>
      </form>
    </div>
  </div>
</section>