<section class="section-end animate">
  <div class="container">
    <h2 class="section-end__title">
      Паркоматика самостоятельно запустит и завершит
      парковочную сессию!
    </h2>
    <div class="section-end__chat">
      <div class="section-end__chat-item">
        <div class="section-end__chat-text">
          Начало парковки 15:00
        </div>
      </div>
      <div class="section-end__chat-item">
        <div class="section-end__chat-text">
          Парковка завершена
        </div>
      </div>
    </div>
  </div>
</section>