<footer class="page-footer">
  <div class="container">
    <div class="page-footer__content">
      <a class="page-footer__logo">
        <i class="icon-logo"></i>
        ПАРКОМАТИКА
      </a>
      <div class="page-footer__buttons">
        <a target="_blank" href="/offero.pdf" class="btn btn-outline-white footer-button">
          договор оферты
        </a>
        <a class="footer-social__button social-fb" target="_blank" href="https://facebook.com/parkomatica" title="">
          facebook
        </a>
        <a class="footer-social__button social-tw" href="https://twitter.com/parkomatica" title="">
          twitter
        </a>
      </div>
    </div>
    <div class="page-footer__copy">
      &copy; 2017, Все права защищены
    </div>
  </div>
</footer>