<a name="header"></a>
<header class="page-header">
  <div class="container">
    <nav class="navbar navbar-toggleable-md p-0 navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a data-scroll-to class="page-header__logo navbar-brand" href="#header">
        <i class="icon-logo"></i>
        ПАРКОМАТИКА
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <nav class="page-header__nav">
          <a class="page-header__nav-item" data-scroll-to href="#about">о&nbsp;продукте</a>
          {% comment %}<a class="page-header__nav-item" data-scroll-to href="#tech">технологии</a>{% endcomment %}
          <a class="page-header__nav-item" data-scroll-to href="#price">тарифы</a>
          <a class="page-header__nav-item" data-scroll-to href="#contacts">контакты </a>
          <a class="page-header__nav-item btn-outline-white page-header__nav-item--order" data-toggle="modal" data-target="#orderModal" href="javascript:void(0);" >заказать</a>
          <a class="page-header__nav-item" data-login href="javascript:void(0);">личный кабинет</a>
        </nav>
      </div>
    </nav>

  </div>
</header><!-- /header -->