<div class="modal fade order-modal" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-form">
          <div class="order-modal__title">
            <i class="icon-logo"></i>
            <span class="order-modal__title-text">
              ПАРКОМАТИКА
              <span class="order-modal__title-subtext">Удобная парковка для всех!</span>
            </span>
          </div>
          <div class="block-login js-block-login">
            <form action="/api/auth/send-sms" id="login-form" class="default-form block-login__step-phone" novalidate>
              <div class="form-group">
                <small class="form-text text-muted">Чтобы попасть в личный кабинет - введите свой номер телефона. Если вы ещё не регистрировались - заполните <a data-toggle="modal" data-target="#orderModal" data-dismiss="modal" href="javascript:void(0);">эту</a> форму</small>
              </div>
              <div class="form-group">
                <label class="control-label" for="phone">НОМЕР ТЕЛЕФОНА</label>
                <input type="tel" class="form-control form-control-danger js-phone" name="phone"  placeholder="+7">
                <div class="form-control-feedback"></div>
                <small class="form-text text-muted">На ваш номер будет выслан код для авторизации</small>
              </div>
              <div class="default-form__submit-wrp">
                <button type="submit" class="btn btn-primary btn-block" disabled>
                  Далее
                </button>
              </div>
            </form>
            <form action="/api/auth/login-pin" id="pin-form" class="default-form block-login__step-pin" novalidate>
              <input type="hidden" name="phone">
              <div class="form-group">
                <label class="control-label" for="pin">Пин код</label>
                <input type="tel" class="form-control form-control-danger js-pin" name="pin" placeholder="*****">
                <div class="form-control-feedback"></div>
                <small class="form-text text-muted">На ваш телефон мы отправили смс для входа в личный кабинет. Пожалуйста, введите код из СМС сообщения (5 цифр).</small>
              </div>
              <div class="default-form__submit-wrp">
                <button type="submit" class="btn btn-primary btn-block" disabled>
                  Отправить
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>