<div class="modal fade order-modal" id="orderModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
        <form method="POST" action="/api/registration" id="order-form" class="default-form modal-form" novalidate>
          <div class="order-modal__title">
            <i class="icon-logo"></i>
            <span class="order-modal__title-text">
              ПАРКОМАТИКА
              <span class="order-modal__title-subtext">Удобная парковка для всех!</span>
            </span>
          </div>
          <div class="form-group">
            <label class="control-label" for="name">Как к Вам обращаться?</label>
            <input type="text" class="form-control form-control-danger" name="name" id="name" placeholder="Имя">
          </div>
          <div class="form-group">
            <label class="control-label" for="phone">НОМЕР ТЕЛЕФОНА</label>
            <input type="tel" class="form-control form-control-danger js-phone" name="phone" placeholder="+7">
            <div class="form-control-feedback"></div>
          </div>
          <!--<div class="form-group">
            <label class="control-label" for="email">Почта</label>
            <input type="email" class="form-control form-control-danger" name="email" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="control-label" for="auto">МАРКА АВТОМОБИЛЯ</label>
            <input type="text" class="form-control form-control-danger" name="auto" id="auto" placeholder="Укажите марку">
          </div>
          <div class="form-group">
            <label class="control-label" for="year">ГОД ВЫПУСКА АВТОМОБИЛЯ</label>
            <input type="text" class="form-control form-control-danger" name="year" id="year" placeholder="Укажите год">
          </div>
          <div class="form-group">
            <label class="control-label" for="promocode">Промокод</label>
            <input
              type="text"
              class="form-control form-control-danger js-not-required"
              name="promocode"
              id="promocode"
              placeholder="Введите промокод, если есть"
            >
            <div class="form-control-feedback"></div>
          </div>-->
          <div class="default-form__submit-wrp">
            <button type="submit" class="btn btn-danger btn-block" disabled>
              ЗАКАЗАТЬ
            </button>
          </div>
          <!--<div class="text-center">
            <a
              class="offert-link"
              href="/offero.pdf"
              title="Политика конфиденциальности"
            >
              Политика конфиденциальности
            </a>
          </div>-->
          <div class="default-form__message">
            <i class="default-form__message-icon"></i>
            <div class="default-form__message-title">
              Спасибо, <br>
              ваша заявка принята!
            </div>
            В ближайшее время c вами свяжется представитель нашей компании
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-one" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-one" role="document">
        <button type="button" class="close close-popup" data-dismiss="modal" aria-label="Close">
          <img src="images/close_icon.svg">
        </button>
<form method="POST" action="/api/send-order/consult" id="contact-form" class="js-default-form default-form block-contacts__form form-popup" novalidate>
  <div class="form-title">Заказать консультацию</div>
  <div class="form-text">Мы свяжемся с вами в ближайшее время</div>
  <div class="row form-group">
          <label class="control-label" for="name">Как к Вам обращаться?</label>
    <input type="text"  class="form-control form-control-danger" name="name" id="name" placeholder="Обращение к вам*">
  </div>
  <div class="row form-group">
    <label class="control-label" for="phone">номер вашего телефона</label>
    <input type="tel" class="form-control form-control-danger js-phone" name="phone" id="phone" placeholder="Ваш телефон*">
  </div>
  <div class="row form-group">
    <label class="control-label" for="email">Ваша почта</label>
    <input type="text"  class="form-control form-control-danger" name="email" id="email" placeholder="Ваша почта*">
  </div>
  <div class="row default-form__submit-wrp">
              <input type="hidden" name="formData" value="Обратный звонок">
    <button type="submit" class="btn btn-danger btn-block" disabled>ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ</button>
  </div>
  <div class="popup-write">*Ваши контактные данные в безопасности <br>
и не будут переданы третьим лицам!</div>
  <div class="sendon sendon-two">
    <img src="images/sendIconBlue.png">
    <div class="sendon-title">Спасибо, <br>
ваша заявка принята!</div>
    <div class="sendon-text">Наш представитель
с вами свяжется в ближайшее время</div>
  </div>
</form>
    </div>
</div>
