<a name="price"></a>
<section class="section-price animate">
  <div class="container">
    <h2 class="section-price__title">
      Стоимость Паркоматики
    </h2>
    <div class="section-price__content">
      <img class="section-price__image"
        src="/images/price-image.png"
        srcset="/images/price-image@2x.png 2x, /images/price-image@3x.png 3x"
        alt="parkomatia device" width="220" height="385" />
      <div class="price-content">
        <div class="price-content__item price-content__item--include">
          <div class="price-content__title">
            Сколько это стоит?
          </div>
          <div class="price-content__text">
            Ежемесячная подписка <br />
            на сервис Паркоматики стоит
            <span class="text-nowrap">
              всего
              <span class="price-content__cost">
              299&nbsp;&#x20bd;
              </span>
            </span>
          </div>
          <div class="price-content__title">
            Что входит <br />
            в&nbsp;стоимость подписки?
          </div>
          <div class="price-content__text">
            Стоимость включает SIM карту, связь и комиссии за транзакции!
          </div>
        </div>
        <div class="price-content__item price-content__item--not-include">
          <div class="price-content__title">
            Что не входит в стоимость подписки?
          </div>
          <div class="price-content__text">
            В стоимость подписки не входит Паркотрон* — специальное устройство, которое фиксирует ваше местоположения и помогает нашему боту парковать ваш автомобиль правильно и точно.
          </div>
          <div class="price-content__hint">
            *Залог за Паркоторон составляет 5 000 рублей. <br />
            Вы можетет вернуть устройство со 100% компенсацией в&nbsp;течении 365 с момента подключения Паркоматики.
          </div>
        </div>
      </div>
    </div>
    <footer class="section-price__footer">
      <button class="btn btn-danger section-price__button" data-toggle="modal" data-target="#orderModal">
        заказать паркоматику
      </button>
    </footer>
  </div>
</section>