 <a name="about"></a>
<section class="section-promo {% if showCountdown %}section-promo--countdown{% endif %}">
  <div class="section-promo__container">
    <h1 class="section-promo__title">
      Сервис автоматической оплаты парковки на&nbsp;улицах Москвы
      <span>ПАРКОМАТИКА</span>
    </h1>
    {% if showCountdown %}
      <div class="section-promo__stock">
        <div class="section-promo__stock-title">
          до конца акции осталось:
        </div>
        {% include promo-countdown.liquid %}
        <div class="section-promo__stock-text">
          Регистрируйся сегодня и получи <br />
          <b class="text-danger">два месяца</b> Паркоматики <b class="text-danger">бесплатно</b>
        </div>
      </div>
      <button type="button" class="btn btn-danger section-promo__button" data-toggle="modal" data-target="#orderModal">заказать паркоматику</button>
    {% endif %}
  </div>
  <div class="promo-parallax-container">
    <img class="section-promo__image img-fluid" src="/images/promo-img.png" alt="">
    <div class="promo-parallax">
      <div id="promo-parallax-sky" class="promo-parallax__layer" data-xrange="10" data-yrange="10"></div>
      <div id="promo-parallax-house-1" class="promo-parallax__layer" data-xrange="20" data-yrange="20"></div>
      <div id="promo-parallax-house-2" class="promo-parallax__layer" data-xrange="30" data-yrange="30"></div>
      <div id="promo-parallax-trees" class="promo-parallax__layer" data-xrange="40" data-yrange="40"></div>
      <div id="promo-parallax-cars" class="promo-parallax__layer" data-xrange="50" data-yrange="50"></div>
      <div id="promo-parallax-moved-car" class="promo-parallax__layer" data-xrange="60" data-yrange="60"></div>
    </div>
  </div>
  {% unless showCountdown %}
    <div class="container">
      <button type="button" class="btn btn-danger section-promo__button" data-toggle="modal" data-target="#orderModal">заказать паркоматику</button>
    </div>
  {% endunless %}
  <div class="promo-stats animate">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="promo-stats__item">
            <div class="promo-stats__header">
              <div class="promo-stats__count">
                1000
              </div>
              человек
            </div>
            <div class="promo-stats__text">
              Ежедневно штрафуют в Москве&ensp;<br />
              за неоплаченную парковку
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="promo-stats__item promo-stats__item--invert">
            <div class="promo-stats__header">
              <div class="promo-stats__count">
                2 500 ₽
              </div>
              штраф
            </div>
            <div class="promo-stats__text">
              За неоплаченную парковку в Москве
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="promo-stats__item">
            <div class="promo-stats__header">
              <div class="promo-stats__count">
                150 ₽
              </div>
              в месяц
            </div>
            <div class="promo-stats__text">
              Средняя сумма переплаты за раннее&ensp;<br />
              начало или позднее окончание&ensp;<br />
              парковочной сессии
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>