<div class="promo-countdown js-countdown">
  <div class="bloc-time days">
    <div class="figure days days-1">
      <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>

    <div class="figure days days-2">
      <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>
    <span class="count-title">День</span>
  </div>
  <div class="bloc-time hours">
    <div class="figure hours hours-1">
      <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>

    <div class="figure hours hours-2">
      <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>
    <span class="count-title">Часов</span>
  </div>

  <div class="bloc-time min">
    <div class="figure min min-1">
      <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>

    <div class="figure min min-2">
     <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>
    <span class="count-title">Минут</span>
  </div>

  <div class="bloc-time sec">
      <div class="figure sec sec-1">
      <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>

    <div class="figure sec sec-2">
      <span class="top">0</span>
      <span class="top-back">
        <span>0</span>
      </span>
      <span class="bottom">0</span>
      <span class="bottom-back">
        <span>0</span>
      </span>
    </div>
    <span class="count-title">Секунд</span>
  </div>
</div>