<section class="section-start animate">
  <h2 class="section-start__title">
    Как начать пользоваться?
  </h2>
  <div class="section-start__car">
    <div class="container">
      <button type="button" class="btn btn-danger section-start__button" data-toggle="modal" data-target="#orderModal">
        закажите устройство
      </button>
    </div>
  </div>
  <div class="container">
    <ol class="section-start__list animate">
      <li>
        Вставьте наше устройство в диагностический (OBD2) разъём автомобиля, который находится возле педалей.
        <span class="section-start__list-hint">
          Но может быть и у прикуривателя центральной консоли или перед подлокотником.
        </span>
      </li>
      <li>
        Установите в приложении
        Telegram чат-бот «Паркоматики»
        Никаких дополнительных приложений. Все легко и просто!
      </li>
      <li>
        Введи номер устройства, данные
        вашего автомобиля и подключите карту для оплаты парковки —
        <b>это Все!</b>
      </li>
    </ol>

  </div>

</section>