
<a name="tech"></a>
<section class="section-tech animate">
  <div class="container">
    <h2 class="section-tech__title">
      Технология Паркоматики
    </h2>
    <div class="section-tech__device">
      <div class="animate-img animate-img--tech-device hidden-sm-down">
        <span class="animate-img__icon animate-img__icon--settings"></span>
        <span class="animate-img__icon animate-img__icon--car"></span>
        <span class="animate-img__icon animate-img__icon--time"></span>
      </div>
      <div class="tech-descrition">
        <div class="tech-descrition__label">
          устройство
        </div>
        <div class="tech-descrition__name">
          Паркотрон
        </div>
        <div class="tech-descrition__content">
          <ul class="tech-descrition__list">
            <li>
              Понимает когда автомобиль припаркован.
            </li>
            <li>
              Точно определяет геопозицию вашего
              авто в парковочных зонах.
            </li>
            <li>
              Контролирует время начала и
              окончания парковочной сессии.
            </li>
            <li>
              Легко устанавливается в любой современный автомобиль, используя OBD-II разъём вашего автомобиля. Никаких специальных навыков не требуется.
            </li>
          </ul>
          <button class="btn btn-danger section-tech__button" type="button" data-toggle="modal" data-target="#orderModal">
            закажите устройство
          </button>
        </div>
      </div>
    </div>
    <div class="section-tech__hint">
      Мы не следим и не записываем маршруты за пользователями вне парковочных зон.
    </div>
    <div class="section-tech__client animate">
      <div class="tech-descrition">
        <div class="tech-descrition__label">
          клиент
        </div>
        <div class="tech-descrition__name">
          Парковочный робот
        </div>
        <div class="tech-descrition__content">
          Мы научили бота для мессенджера
          Telegram парковать автоматически ваш автомобиль. Никаких дополнительных приложений не надо. Все легко и просто!
          <a href="https://telegram.me/ParkomatikaBot" target="_blank" class="btn btn-danger section-tech__button" >
            установить бота
          </a>
        </div>
      </div>
      <div class="animate-img animate-img--tech-client hidden-sm-down">
        <span class="animate-img__icon animate-img__icon--bot"></span>
        <span class="animate-img__icon animate-img__icon--chat"></span>
      </div>
    </div>
  </div>
</section>